<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card row mt-3">
                <form th:object="${review}" action="" method="">
                    <div class="col-12 mt-3"> <!--리뷰 번호-->
                        <div class="mb-3 text-center">
                            <input type="hidden" th:value="${review.rev_num}"></input>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="mb-3 text-center"> <!--회원 이메일-->
                            <h2 th:text="${review.create_by}"></h2>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">   <!--호텔 이름-->
                            <label for="hotel_name" class="form-label">호텔 이름</label>
                            <input type="hidden" th:value="${review.hotelDTO.hotel_num}">
                            <input type="text" class="form-control" th:value="${review.hotelDTO.hotel_name}" id="hotel_name" readonly>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3"> <!--별점-->
                            <label for="score" class="form-label">별점</label>
                            <input type="number" min="0" class="form-control" th:value="${review.score}" id="score" readonly>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">  <!--룸 정보/ 룸 타입-->
                            <label for="room_info" class="form-label">룸 정보</label>
                            <input type="text" min="0" class="form-control" th:value="${review.roomDTO.room_info}" id="room_info" readonly>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3"> <!--가격-->
                            <label for="room_type"  class="form-label">룸 타입</label>
                            <input type="text" min="0" class="form-control" th:value="${review.roomDTO.room_type}" id="room_type" readonly>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">   <!--호텔 이름-->
                            <label for="room_bed" class="form-label">인원 수</label>
                            <input type="number" min="0" class="form-control" th:value="${review.roomDTO.room_bed}" id="room_bed" readonly>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mt-5 mb-3 imgA">
                            <div class="row">
                                <th:block th:each="img: ${review.imageDTOList}">
                                    <th:block th:if="${img.repimg_yn == 'Y'}">
                                        <label class="col-12 form-label">
                                            대표 이미지<br>
                                            <img class="main-image mt-3" th:src="${img.thumbnail_url}" alt="대표 이미지">
                                        </label>
                                    </th:block>
                                </th:block>
                            </div>

                            <div class="mt-3 row detail-images-container">
                                <th:block th:if="${review.imageDTOList.?[repimg_yn != 'Y'].size() > 0}">
                                    <label class="col-12 form-label">상세 이미지</label>
                                </th:block>

                                <th:block th:each="img, iterStat : ${review.imageDTOList}">
                                    <th:block th:unless="${img.repimg_yn == 'Y'}">
                                        <div class="col-6 col-md-6">
                                            <img class="detail-image" th:src="${img.thumbnail_url}" alt="상세 이미지">
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">  <!--내용-->
                            <label for="content" class="form-label">리뷰 내용</label>
                            <input type="text" class="form-control" th:value="${review.content}" required id="content" readonly>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>