<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>

    <title></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- theme meta -->
    <meta name="theme-name" content="mono" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="/assets/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="/assets/plugins/simplebar/simplebar.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- PLUGINS CSS STYLE -->
    <link href="/assets/plugins/nprogress/nprogress.css" rel="stylesheet" />

    <link href="/assets/plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />

    <link href="/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <link href="/assets/plugins/toaster/toastr.min.css" rel="stylesheet" />

    <link th:href="@{/assets/css/style.css}" rel="stylesheet">

    <!-- FAVICON -->
    <link href="images/favicon.png" rel="shortcut icon" />

    <script src="/assets/plugins/nprogress/nprogress.js"></script>
</head>
<body>
<div class="d-flex" style="min-height: 100vh;">
    <header th:replace="~{fragments/headersidebar::header}"></header>
    <main id="main" class="flex-grow-1">
        <section class="section w-100" style="margin-top: 80px; margin-bottom: 80px;">
            <div class="container-fluid px-4">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <th:block layout:fragment="content" class="container-fluid mt-5 p-4">

                        </th:block>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<th:block th:replace="~{fragments/footer::footer}">

</th:block>

<th:block layout:fragment="script"></th:block>

<script src="/assets/plugins/jquery/jquery.min.js"></script>
<script src="/assets/plugins/simplebar/simplebar.min.js"></script>
<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>

<script src="/assets/plugins/apexcharts/apexcharts.js"></script>

<script src="/assets/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>

<script src="/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
<script src="/assets/plugins/jvectormap/jquery-jvectormap-us-aea.js"></script>

<script src="/assets/plugins/daterangepicker/moment.min.js"></script>
<script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<script src="/assets/plugins/toaster/toastr.min.js"></script>

<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--    <script src="/assets/vendor/chart.js/chart.min.js"></script>-->
<!--<script src="/assets/vendor/echarts/echarts.min.js"></script>-->

<!--<script src="/assets/vendor/quill/quill.min.js"></script>-->
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<script src="/assets/js/main.js"></script>

<script src="/assets/js/mono.js"></script>
<script src="/assets/js/chart.js"></script>
<script src="/assets/js/map.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>