<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <h1 class="text-center fw-bold mt-3">예약 내역 상세보기</h1>
            <div class="col-12 my-3">
                <div class="card text-center">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">예약 번호</th>
                            <th scope="col">호텔명</th>
                            <th scope="col">룸명</th>
                            <th scope="col">예약일</th>
                            <th scope="col">결제 상태</th>
                            <th scope="col">예약 상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${roomReserveItemDTO.roomReserveDTO.reserve_id}">예약 번호</td>
                            <td th:text="${roomReserveItemDTO.roomDTO.hotelDTO.hotel_name}">호텔명</td>
                            <td th:text="${roomReserveItemDTO.roomDTO.room_name}">룸명</td>
                            <td th:text="${#temporals.format(roomReserveItemDTO.reg_date, 'yyyy.MM.dd HH:mm')}">예약일</td>
                            <td th:switch="${roomReserveItemDTO.payDTO.pay_state}"> <!--결제 상태-->
                                <span th:case="${roomReserveItemDTO.payDTO.pay_state.COMPLETE}">완료</span>
                                <span th:case="${roomReserveItemDTO.payDTO.pay_state.CANCEL}">취소</span>
                                <span th:case="*">알 수 없음</span> <!-- 예외 처리 -->
                            </td>
                            <td th:switch="${roomReserveItemDTO.roomReserveDTO.check_state}"> <!--예약 상태-->
                                <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.RESERVE}">접수</span>
                                <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.IN}">체크인</span>
                                <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.OUT}">체크아웃</span>
                                <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.CANCEL}">취소</span>
                                <span th:case="*">알 수 없음</span> <!-- 예외 처리 -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card text-center">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">예약자명</th>
                            <th scope="col">전화번호</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${roomReserveItemDTO.roomReserveDTO.memberDTO.name}">예약자명</td>
                            <td th:text="${roomReserveItemDTO.roomReserveDTO.memberDTO.tel}">전화번호</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card text-center">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">체크인 날짜</th>
                            <th scope="col">체크아웃 날짜</th>
                            <th scope="col">예약 인원</th>
                            <th scope="col">1박당 금액(원)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${#temporals.format(roomReserveItemDTO.in_date, 'yyyy.MM.dd HH:mm')}">체크인 날짜</td>
                            <td th:text="${#temporals.format(roomReserveItemDTO.out_date, 'yyyy.MM.dd HH:mm')}">체크아웃 날짜</td>
                            <td th:text="${roomReserveItemDTO.count}">예약 인원</td>
                            <td class="room_price" th:text="${roomReserveItemDTO.roomDTO.room_price}">금액(원)</td>
                            <input type="hidden" class="day" th:value="${roomReserveItemDTO.day}">
                        </tr>
                        <tr>
                            <td colspan="2" class="table-light">총 금액</td>
                            <td colspan="2" class="table-light text-danger totalPrice">0원</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card text-center">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">요청사항</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${roomReserveItemDTO.reserve_request}">요청 사항</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto text-center mt-2">
                <button class="btn btn-primary btn-lg" type="button" th:onclick="|location.href='@{/roomreserve/roomReserveList}'|">예약 내역 목록</button>
            </div>

        </div>
    </div>

</th:block>
<script th:inline="javascript" layout:fragment="script">

    $(document).ready(function () {
        function calculateTotalPrice() {
            let total = 0;

            let price = parseInt($(".room_price").text().replace(/[^0-9]/g, '')) || 0;
            let day = $(".day").val();
            total += price * day;

            // 총 가격 업데이트
            $('.totalPrice').text(total.toLocaleString() + '원');
        }

        // 문서 로드 시 총 가격 계산
        calculateTotalPrice();
    })

</script>
</body>
</html>