<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="row">
        <div class="roomRead col-9">
            <h2 class="my-3 text-center fw-bold">룸 예약 상태</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4" >

                <th:block th:if="${roomDTOList.isEmpty()}">
                    <div class="mt-3">
                        <span class="h5 text-center fw-bold">등록된 룸이 없습니다.</span>
                    </div>
                </th:block>
                <th:block th:unless="${roomDTOList.isEmpty()}" th:each="room : ${roomDTOList}">
                    <div class="col">
                        <div class="card" id="toggleReadWindow" style="box-shadow: none">
                            <div class="card-body">
                                <input type="text" th:value="${room.room_num}">
                                <span class="h5 card-title fw-bold" th:text="${room.room_name}">룸 이름</span> <br>
                                <small class="text-body-secondary text-center"
                                       th:text="${room.room_state.name().equals('YES')  ? '예약 가능' : '예약 불가'}">룸 상태</small>
                            </div>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>

        <div class="readWindow col-3 border-start">
            <div class="mt-5" style="box-shadow: none">
                <div class="card-header">룸 번호</div>
                <div class="card-body">
                    <span class="h5 card-title fw-bold">룸 이름</span> <br>
                    <span>룸 정보</span> <br>
                    <span>룸 타입</span> <br>
                    <span>룸 인원수</span> <br>
                    <span>룸 가격</span>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary text-center">룸 상태</small>
                </div>
            </div>
        </div>
    </div>

</th:block>
<script th:inline="javascript" layout:fragment="script">

    $(document).ready(function () {

        let roomRead = $(".roomRead");
        let readWindow = $(".readWindow");

        // 초기 상태에서 readWindow를 숨기고 roomRead의 클래스를 col-12로 변경
        readWindow.hide();
        roomRead.removeClass('col-9').addClass('col-12');

        // readWindow가 표시되거나 숨겨질 때 클래스를 동적으로 업데이트
        $("#toggleReadWindow").on("click", function () {
            if (readWindow.is(":visible")) {
                readWindow.hide();
                roomRead.removeClass('col-9').addClass('col-12');
            } else {
                readWindow.show();
                roomRead.removeClass('col-12').addClass('col-9');
            }
        });


    })

</script>

</body>
</html>