<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div id="row" class="row">

        <div class="col-8 offset-2">
            <form th:action="@{/notice/noticeRegister}" method="post" class="position: 0;">
                <h2 class="mb-3 mt-5 text-center">공지사항 등록</h2>
                <div class="card">
                    <!--제목-->
                    <div class="card-header bg-white">
                        <div class="input-group mt-2 my-3">
                            <label for="validationDefault01" class="form-label mr-2">제목</label>
                            <input type="text" class="form-control" id="validationDefault01" name="title" required placeholder="제목을 입력하세요">
                        </div>
                    </div>
                    <div class="card-body" style="height: 500px;"><!--공지사항글 제품-->
                        <!--id와 name은 DTO에 변수명으로 작업-->
                        <div class="input-group mt-1 my-3" style="height: 88%">
                            <label for="validationDefault01" class="form-label mr-2">내용</label>
                            <textarea type="text" class="form-control" id="validationDefault02" name="content" required placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <input type="hidden" name="hotel_num" th:value="${hotel_num}" />


                        <button type="submit" class="btn btn-primary mr-2">확인</button>
                        <button type="reset" class="btn btn-secondary mr-2">초기화</button>
                        <button type="button" class="btn btn-danger"
                                th:onclick="|location.href='@{/notice/noticeList}'|">취소</button>
                        <!--@{주소}, 문자열+주소 |문자열@{주소}|-->
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div><!--row끝-->
</div><!--container끝-->
</div>
<script th:inline="javascript" layout:fragment="script">
    console.log("Hotel Data: ", [[${hotel}]]);
</script>
</body>
</html>