<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div id="row" class="row justify-content-center">

        <form th:action="@{/notice/noticeModify}" method="post">
            <!-- Notice 번호 (숨겨진 필드) -->
            <input type="hidden" th:each="data: ${notice.getNotice_num()}" name="notice_num">
            <div class="card" style="width: 100%; height: 90%;">
                <!--제목-->
                <div class="card-header bg-white">
                    <div class="input-group mt-2 my-3">
                        <span class="input-group-text bg-white border border-0 fw-bold"
                              id="basic-addon1">제목: </span>
                        <input type="text" class="form-control bg-white" id="title" name="title" th:value="${notice.title}">
                    </div>
                </div>
                <div class="card-body" style="height: 500px;"><!--공지사항글 제품-->
                    <!--id와 name은 DTO에 변수명으로 작업-->
                    <div class="input-group mt-1 my-3" style="height: 88%">
                            <span class="input-group-text bg-white border border-0 fw-bold"
                                  id="basic-addon2">내용: </span>
                        <textarea type="text" class="form-control bg-white" id="content" name="content" th:text="${notice.content}"></textarea>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">확인</button>
                    <button type="reset" class="btn btn-secondary">초기화</button>
                    <button type="button" class="btn btn-danger"
                            th:onclick="|location.href='@{/notice/noticeList}'|">취소</button>
                    <!--@{주소}, 문자열+주소 |문자열@{주소}|-->
                </div>
            </div>



        </form>
    </div>
</div>
</body>
</html>