<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" id="container" class="container">
    <div class="row">
        <div class="row">
            <div class="border my-2">
                <form th:action="@{/notice/noticeList}" method="get">
                    <!--검색창-->
                    <div class="search-container row border my-2 mx-2">
                        <div class="col-2 mt-2">
                            <select class="form-select" name="">
                                <option value="1">호텔명</option>
                                <option value="2">작성자</option>
                                <option value="3">제목</option>
                            </select>
                        </div>
                        <div class="col-4 mt-2">
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="col-3 mt-3">
                            <label for="date">
                                <input type="date"
                                       id="date"
                                       max="YYYY-MM-DD"
                                       min="2000-01-01"
                                       value="2025-01-01">
                            </label>
                        </div>
                        <!--조회버튼-->
                        <div class="d-flex justify-content-center mt-1 mb-1">
                            <button type="button" class="btn btn-dark">
                                조회
                            </button>
                        </div>
                    </div>
                </form>
                <div id="list" class="border: none;">
                    <!--회원목록-->
                    <!--추가버튼-->
                    <div class="d-flex justify-content-end">
                        <a th:href="@{/notice/noticeRegister}" class="btn btn-dark">등록</a>
                    </div>

                    <h3>공지 사항</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width:7%; text-align: center">No</th>
                            <th style="width:10%; text-align: center">호텔명</th>
                            <th style="width:26%; text-align: center">제목</th>
                            <th style="width:20%; text-align: center">작성자</th>
                            <th style="width:12%; text-align: center">작성시간</th>
                            <th style="width:9%; text-align: center">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><!--최대값으로 더미값을 입력-->
                        <tr th:each=" data : ${noticeList}"><!--더미값으로 채우기(가장 긴값)-->

                            <td th:text="${data.notice_num}" class="text-center"></td>
                            <td th:text="${data.notice_num}" class="text-center"></td>
<!--                            <td th:text="${data.getHotel_name()}" class="text-center"></td>-->
                            <td>
                                <a th:href="@{/notice/noticeRead(id=${data.notice_num})}" th:text="${data.getTitle()}" class="text-center">
                                </a>
                            </td>
                            <td th:text="${data.create_by}" class="text-center"></td>
                            <td th:text="${#temporals.format(data.reg_date, 'yyyy-MM-dd')}" class="text-center"></td>
                            <td class="last-column"></td> <!-- 조회수 셀의 오른쪽 테두리 제거 -->
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                    <!--페이지번호-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <ul class="pagination">-->
<!--                            <li class="page-item" th:unless="${startPage==1}">-->
<!--                                <a class="page-link" th:href="@{/list(page=1)}">시작</a>-->
<!--                            </li>-->
<!--                            <li class="page-item" th:unless="${currentPage==1}">-->
<!--                                <a class="page-link" th:href="@{list(page=${prevPage})}">이전</a>-->
<!--                            </li>-->
<!--                            <spen th:each="num:${#numbers.sequence(startPage, endPage, 1)}">-->
<!--                                <li class="page-item" th:unless="${num==currentPage}">-->
<!--                                    <a class="page-link" th:href="@{list(page=${num})}" th:text="${num}">1</a>-->
<!--                                </li>-->

<!--                                <li class="page-item" th:unless="${num==currentPage}">-->
<!--                                    <a class="page-link" th:href="@{list(page=${num})}" th:text="${num}">2</a>-->
<!--                                </li>-->

<!--                                <li class="page-item" th:unless="${num==currentPage}">-->
<!--                                    <a class="page-link" th:href="@{list(page=${num})}" th:text="${num}">3</a>-->
<!--                                </li>-->
<!--                            </spen>-->
<!--                            <li class="page-item" th:unless="${currentPage>=lastpage}">-->
<!--                                <a class="page-link" th:href="@{list(page=${nextpage})}">다음</a>-->
<!--                            </li>-->
<!--                            <li class="page-item" th:unless="${endPage==lastPage}">-->
<!--                                <a class="page-link" th:href="@{list(page=${lastPage})}">끝</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" layout:fragment="script">

</script>
</body>
</html>




