<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>


<th:block layout:fragment="content">

    <div class="d-flex">
        <div class="container my-auto">
            <div class=" row justify-content-center">
                <form th:object="${noticeDTO}" action="" method="">
                    <div class="row mt-5">
                        <div class="col-8 offset-2">
                            <div class="row">
                                <div class="mb-3 text-center">
                                    <h2>공지사항 상세페이지</h2>
                                </div>
                                <div class="col text-center">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 140px">번호</span>
                                                <input type="text" class="form-control" th:value="${noticeDTO.notice_num}">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 140px">제목</span>
                                                <input type="text" class="form-control" th:value="${noticeDTO.title}">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 140px">내용</span>
                                                <textarea class="form-control" th:text="${noticeDTO.content}" ></textarea>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 140px">호텔명</span>
                                                <input type="text" class="form-control"
                                                       th:value="${noticeDTO.hotelDTO != null ? noticeDTO.hotelDTO.hotel_name : (noticeDTO.brandDTO != null ? noticeDTO.brandDTO.brand_name : '정보 없음')}">
                                            </div>

                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 140px">작성날짜</span>
                                                <input type="text" class="form-control" th:value="${#temporals.format(noticeDTO.reg_date, 'yyyy-MM-dd')}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mt-5 mb-3 imgA">
                                        <div class="row">
                                            <th:block th:each="img: ${noticeDTO.imageDTOList}">
                                                <th:block th:if="${img.repimg_yn == 'N'}">
                                                    <label class="col-12 form-label">
                                                        <img class="main-image mt-3" th:src="${img.thumbnail_url}" style="width: 100%; height: auto; object-fit: contain;">
                                                    </label>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-center">
                                    <button type="button" onclick="location.href='/notice/noticeList'"class="btn btn-primary">목록</button>
                                    <button type="button" th:onclick="|location.href='@{/notice/noticeModify(notice_num=${noticeDTO.notice_num})}'|" class="btn btn-dark">수정</button>
                                    <button type="button" class="btn btn-danger delnotice" >삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        /* jQuery */
        $(document).ready(function() {
            $('textarea').on( 'keyup', function (e){
                $(this).css('height', 'auto');
                $(this).height(this.scrollHeight);
            });
            $('textarea').keyup();
        });


        $(document).ready(function () {
            let delete_image_btn = $(".delete_image_btn")
            let formObj =$("form");
            let delnotice = $(".delnotice");
            let notice_num = [[${noticeDTO.notice_num}]]

            delnotice.on("click" ,function () {
                const isdel = confirm("삭제하시겠습니까??")


                if(isdel){
                    formObj.attr("action", "/notice/noticeDelete")
                            .attr("method", "post");
                    let str = `<input name="notice_num" value="${notice_num}">`
                    formObj.html(str);
                    formObj.submit();


                }
            })



            delete_image_btn.on("click", function () {

                $(this).parent().hide()

                let str = `<input name="delnumList" type="hidden" value="${delete_image_btn.val()}">`
                formObj.append(str)


            })


        })

    </script>

</th:block>

<th:block layout:fragment="script">
</th:block>
</body>
</html>