<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정</title>
</head>
<body>

<th:block layout:fragment="content">

    <form action="/notice/noticeModify" method="post" th:object="${noticeDTO}" enctype="multipart/form-data">
        <div class="row mt-5">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="mb-3 text-center">
                        <h2>공지사항 상세페이지</h2>
                    </div>
                    <div class="col text-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="width: 140px">번호</span>
                                    <input type="text" class="form-control" th:value="${noticeDTO.notice_num}" name="notice_num">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="width: 140px">제목</span>
                                    <input type="text" class="form-control" th:value="${noticeDTO.title}" name="title">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="width: 140px">내용</span>
                                    <input type="text" class="form-control" th:value="${noticeDTO.content}" name="content">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="width: 140px">호텔명</span>
                                    <input type="text" class="form-control"
                                           th:value="${noticeDTO.hotelDTO != null ? noticeDTO.hotelDTO.hotel_name : (noticeDTO.brandDTO != null ? noticeDTO.brandDTO.brand_name : '정보 없음')}" name="hotel">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" style="width: 140px">작성날짜</span>
                                    <input type="text" class="form-control" th:value="${#temporals.format(noticeDTO.reg_date, 'yyyy-MM-dd')}" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <div id="image-list">
                                <div id="image-main">
                                    <label class="form-label">
                                        첨부 이미지<br>
                                        <div class="row row-cols-md-2 ">
                                        <th:block th:each="img : ${noticeDTO.imageDTOList}">

                                                <div class="col position-relative">
                                                    <img th:src="${img.image_url}" alt="Main Image" width="100%">
                                                    <button type="button" th:value="${img.image_id}" class="btn btn-dark delete_image_btn position-absolute  top-0 start-0 ms-3">삭제</button>
                                                </div>


                                        </th:block>
                                        </div>
                                    </label>
                                </div>


                            </div>

                        </div>

                        <div class="aa mb-3">
                            <label for="imgpreviewinput" class="form-label">이미지 추가</label>
                            <input type="file" name="multipartFileList" id="imgpreviewinput" class="form-control imgpreviewinput" ><br>

                        </div>


                        <div class="col-12">
                            <button type="submit" class="btn btn-dark">저장</button>
                            <button type="button" class="btn btn-primary" onclick="location.href='/notice/noticeList'">목록</button>
                            <button type="button" class="btn btn-danger delnotice" >삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>



</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(".imgpreviewinput").on("change", function () {
            readURL(this)
        })
        $(".aa").on("click", "button", function () {

            $(this).parent().remove("")
        })
        function readURL(input) {
            if (input.files && input.files[0]) {


                var reader = new FileReader();
                reader.onload = function(e) {

                    let inputtag = document.createElement("input")

                    inputtag.type = "file"
                    inputtag.name = "multipartFileList"

                    const dataTranster = new DataTransfer();
                    const $fileDatas = Array.from(input.files);
                    $fileDatas.forEach(file =>  dataTranster.items.add(file) );
                    inputtag.files = dataTranster.files;

                    let str = `<div class="preview">
                                                <img width="300px"  src="${e.target.result}">
                                                <button type="button" class="bb">올리지 않기</button>
                                              </div>`
                    $(".imgpreviewinput").val("")
                    $(".aa").append(str)
                    document.querySelector(".aa").lastChild.appendChild(inputtag)
                    inputtag.style.display = 'none'
                    // document.getElementById('preview').src = e.target.result;
                    // document.querySelector(".aa").innerHTML = "<button type='button' class='bb'>올리지 않기</button>"
                };
                reader.readAsDataURL(input.files[0]);
            }
        }


        $(document).ready(function () {
            let delete_image_btn = $(".delete_image_btn")
            let formObj =$("form");
            let delnotice = $(".delnotice");
            let notice_num = [[${noticeDTO.notice_num}]]

            delnotice.on("click" ,function () {
                const isdel = confirm("삭제하시겠습니까??")


                if(isdel){
                    formObj.attr("action", "/notice/noticeDelete")
                    let str = `<input name="notice_num" value="${notice_num}">`
                    formObj.html(str);
                    formObj.submit();


                }
            })



            delete_image_btn.on("click", function () {

                $(this).parent().hide()

                let str = `<input name="delnumList" type="hidden" value="${delete_image_btn.val()}">`
                formObj.append(str)


            })


        })

    </script>
</th:block>
</body>
</html>