<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
</head>
<body>


<th:block layout:fragment="content">

    <div class="d-flex">
        <div class="container my-auto">
            <div class=" row justify-content-center">
                <form th:object="${noticeDTO}" action="" method="">
                    <div class="row mt-5">
                        <div class="col-8 offset-2">
                            <div class="row">
                                <div class="mb-3 text-center">
                                    <h1>공지사항</h1>
                                </div>
                                <div class="col text-center">
                                    <div class="card mb-3">
                                        <div class="card-body">

                                            <div class="input-group">
                                                <span class="input-group-text" style="width: 140px">제목</span>
                                                <input type="text" class="form-control" th:value="${noticeDTO.title}">
                                            </div>

                                            <div class="row mb-2" >
                                                <div class="d-flex justify-content-between align-items-center" style="padding-right: 25px; margin-top: 20px; font-size: 0.9rem;">
                                                    <span class="ml-1" th:text="${#temporals.format(noticeDTO.reg_date, 'yyyy-MM-dd')}">등록일자</span>
                                                    <span th:text="${noticeDTO.hotelDTO != null ? noticeDTO.hotelDTO.hotel_name : (noticeDTO.brandDTO != null ? noticeDTO.brandDTO.brand_name : '정보 없음')}">호텔명</span>
                                                </div>
                                            </div>

                                            <div class="card border-light mt-4 mb-3">
                                                <div class="card-body">
                                                    <!-- 텍스트 내용 -->
                                                    <div class="card-text">
                                                        <p th:text="${noticeDTO.content}" style="white-space: pre-wrap; text-align: left;"></p>
                                                    </div>

                                                    <!-- 이미지들 -->
                                                    <div class="row">
                                                        <th:block th:each="img: ${noticeDTO.imageDTOList}">
                                                            <th:block th:if="${img.repimg_yn == 'N'}">
                                                                <div class="col-12 mt-3">
                                                                    <img class="img-fluid" th:src="${img.image_url}" alt="이미지" style="width: 100%; height: 100%; object-fit: cover;">
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="button" onclick="location.href='/notice/userNoticeList'"class="btn btn-primary">목록</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
</th:block>
</body>
</html>