<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
  <h1 class="text-center mt-3">브랜드 목록</h1>

  <div class="row mt-3">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr class="text-center">
            <th>번호</th>
            <th>브랜드명</th>
            <th>법인사업자번호</th>
            <th>대표자</th>
            <th>전화번호</th>
            <th>상태</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="brand : ${brandDTOList}">
            <tr class="text-center">
              <td th:text="${brand.brand_num}"></td>
              <td>
                <a th:href="@{/brand/brandRead(brand_num=${brand.brand_num})}">
                  [[${brand.brand_name}]]
                </a>
              </td>
              <td th:text="${brand.business_num}"></td>
              <td th:text="${brand.owner}"></td>
              <td th:text="${brand.tel}"></td>
              <td>
                <button class="btn btn-danger togglebtn" th:value="${brand.brand_num}"
                        th:data-num="${brand.brand_num}">
                  <th:block th:if="${brand.active_state.name().equals('ACTIVE')}">활성화</th:block>
                  <th:block th:if="${brand.active_state.name().equals('INACTIVE')}">비활성화</th:block>
                </button>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</th:block>

<script th:inline="javascript" layout:fragment="script">
  let messages = [[${msg}]];
  if (messages != null && messages.trim() !== "") {
    alert(messages);
  }

  let togglebtn = $(".togglebtn");

  togglebtn.on("click", function () {
    let brand_num = $(this).val();
    console.log("변경: " + brand_num);

    $.ajax({
      url: "/brand/stateUpdate",
      method: "post",
      data: {brand_num: brand_num},
      success: function (data, status, xhr) {
        console.log(data)
        location.reload(true);
      },
      errors: function (data, status, err) {
        console.log(errorMsg)
      }

    })


  })

</script>

</body>
</html>