<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>관리자 승인 페이지</title>

</head>
<body>

<th:block layout:fragment="content">
    <h1 class="text-center">권한 승인 목록</h1>


    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>이메일</th>
                    <th>이름</th>
                    <th>휴대폰번호</th>
                    <th>권한</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="member : ${adPowerList}">
                    <tr class="align-middle">
                        <td th:text="${member.member_num}"></td>
                        <td th:text="${member.email}"></td>
                        <td th:text="${member.name}"></td>
                        <td th:text="${member.tel}"></td>
                        <td th:text="${member.role}"></td>


                        <td class="col text-end">
                            <!-- 관리자가 이메일로 승인 버튼을 클릭할 수 있도록 하는 폼 -->
                            <form th:action="@{/powerMember}" method="post">
                                <input type="hidden" name="email" th:value="${member.email}" />
                                <button type="submit">승인</button>
                                <!-- 승인 후 메시지 출력 -->
                                <div th:if="${message}">
                                    <p th:text="${message}"></p>
                                </div>

                            </form>
                        </td>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

</th:block>


<script layout:fragment="script">


</script>

</body>
</html>

</body>
</html>