<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-4">
                <div class="text-center">
                    <h1>비밀번호 변경</h1>
                </div>

                <!-- 오류 메시지 출력 -->
                <div th:if="${msg}" class="alert alert-danger">
                    <span th:text="${msg}"></span>
                </div>

                <form class="row g-3 mt-3" action="/member/changePW" method="post" th:object="${memberDTO}" onsubmit="return test()">

                    <div class="mb-1">
                        <label for="newPassword" class="form-label">기존 비밀번호</label>
                        <input class="form-control" type="password" id="newPassword" th:field="*{newPassword}">
                    </div>

                    <div class="mb-1">
                        <label for="password" class="form-label">새로운 비밀번호</label>
                        <input class="form-control" type="password" id="password" th:field="*{password}">
                    </div>

                    <div class="mb-1">
                        <label for="repassword" class="form-label">비밀번호 재확인</label>
                        <input class="form-control" type="password" id="repassword" th:field="*{repassword}">
                    </div>

                    <div class="col text-center d-flex justify-content-center gap-3 mt-4">
                        <button type="submit" class="btn btn-primary">저장</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='/adMain'">홈</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript" layout:fragment="script">


        $(document).ready(function () {
            let msg = [[${msg}]]
            let password = $("#password")
            console.log(msg)
            if(msg != null){
                alert(msg)
                password.focus();
            }

        })


        function test(){
            var temPassword = document.getElementById('newPassword').value;
            var password = document.getElementById('password').value;
            var repassword = document.getElementById('repassword').value;
            var errorMessage = document.getElementById('password-error');
            var repasswordInput = document.getElementById('repassword');

            if(!newPassword) {
                alert("기존 비밀번호를 입력해주세요.");
                document.getElementById('temPassword').focus();
                return false;
            }

            if (!password) {
                repasswordInput.value = ''; //비밀번호 비어있으면 re비밀번호도 비우기.
            }

            if(password != repassword) {
                errorMessage.style.display = "block"; // 오류 메시지 표시
                alert("비밀번호가 일치하지 않습니다.");
                repasswordInput.focus();
                return false; // 회원가입 진행 막기
            } else {
                errorMessage.style.display = "none"; // 오류 메시지 숨김

            }
            const telValid = validateTel();
            if (!telValid) {
                var telInput = document.getElementById("tel");
                alert("유효한 연락처가 아닙니다.")
                telInput.focus(); // 전화번호 입력란에 포커스
                return false; // 전화번호가 유효하지 않으면 회원가입 진행 막기
            }
            return true; // 회원가입 진행 가능
        }

    </script>
</th:block>


</body>
</html>