<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-4">
                <div class="text-center">
                <h1>회원가입</h1>
            </div>

                        <form class="row g-3" action="/member/cmSignup" method="post" >

                            <th:block th:object="${memberDTO}">
                                <div class="mb-1">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="이메일 형식에 맞춰서 작성해주세요." required>
                                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>
                                </div>

                                <div class="mb-1">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="비밀번호는 8 ~ 20 글자로 입력해주세요." required>
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>
                                </div>

                                <div class="mb-1">
                                        <label for="name" class="form-label">name</label>
                                        <input type="text" th:field="*{name}" class="form-control name" id="name">
                                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError"></p>
                                    <span class="name"></span>
                                </div>

                                <div class="mb-1">
                                        <label for="tel" class="form-label">tel</label>
                                        <input type="text" th:field="*{tel}" class="form-control" id="tel">
                                    <p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="fieldError"></p>
                                </div>
                            </th:block>

                            <div class="container mt-5">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="corn" id="C" value="C" onclick="showDiv()">
                                        <label class="form-check-label" for="C">
                                            브랜드
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="corn" id="M" value="M" onclick="showDiv()">
                                        <label class="form-check-label" for="M">
                                            호텔
                                        </label>
                                    </div>
                            </div>


                            <th:block th:object="${brandDTO}">
                                <div id="myDiv1" style="display:none">
                                    <div class="row mt-4 mb-3">
                                        <div class="col-6">
                                            <div class="mb-2">

                                                <label for="brand" class="form-label">브랜드</label>
                                                <select name="brand_num" id="brand" class="form-select" aria-label="Default select example">
                                                    <option value = ""> ---브랜드선택--- </option>
                                                    <th:block th:each="brand : ${brandDTOList}">
                                                        <option  th:value="${brand.brand_num}" th:text="${brand.brand_name}"></option>
                                                    </th:block>


                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </th:block>

                            <th:block>
                                <div id="myDiv2" style="display:none">
                                    <div class="row mt-4 mb-3">
                                        <div class="col-6">
                                            <div class="mb-2" th:object="${brandDTO}">
                                                <label for="brand1" class="form-label">브랜드</label>
                                                <select name="brand_num" id="brand1" class="form-select brand1" aria-label="Default select example">
                                                        <option value = ""> ---브랜드선택--- </option>
                                                        <th:block th:each="brand : ${brandDTOList}">
                                                            <option  th:value="${brand.brand_num}" th:text="${brand.brand_name}"></option>
                                                        </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-2" th:object="${hotelDTO}">
                                                <label for="hotel" class="form-label">호텔</label>
                                                <select name="hotel_num" id="hotel" class="form-select hotelselect" aria-label="Default select example">
                                                    <option value = ""> ---호텔선택--- </option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="row mb-3">
                                        <div class="col">
                                            <label for="hotel_name" class="form-label">호텔 매장명</label>
                                            <input type="text" th:field="*{hotel_name}" class="form-control" id="hotel_name">
                                        </div>
                                        <p th:if="${#fields.hasErrors('hotel_name')}" th:errors="*{hotel_name}" class="fieldError"></p>
                                    </div>-->
                                </div>
                            </th:block>


                            <div class="col text-center d-flex justify-content-center gap-3 mt-4">
                                <button type="submit" class="btn btn-primary">회원가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script>
        function showDiv() {
            var radios = document.querySelectorAll('input[type=radio]');
            for (var i = 0; i < radios.length; i++) {
                var radio = radios[i];
                var div = document.getElementById('myDiv' + (i + 1));
                if (radio.checked == true){
                    div.style.display = "block";
                } else {
                    div.style.display = "none";
                }
            }
        }


    </script>

</th:block>



<script th:inline="javascript" layout:fragment="script" >

    $(document).ready(function () {

        let msg = [[${msg}]]
        if(msg){
            alert(msg)
        }


//     브랜드 선택시 호텔 리스트 매칭
        let hotelDTOList = [[${hotelDTOList}]];
        let hotelselect = $(".hotelselect")
        console.log(hotelDTOList)

        let str = ""

        $(".brand1").on("change", function () {
            str = `<option value = ""> ---호텔선택--- </option>`
            hotelselect.html(str)
            for (let i = 0; i < hotelDTOList.length; i++){
                console.log($(this).val())
                if(hotelDTOList[i].brandDTO != null){
                    if(hotelDTOList[i].brandDTO.brand_num == $(this).val() ){
                        console.log(hotelDTOList[i]);

                       // str += "<option value='='"+hotelDTOList[i].hotel_num  +">" +hotelDTOList[i].hotel_name  +"</option>"
                        str += `<option value="${hotelDTOList[i].hotel_num}">${hotelDTOList[i].hotel_name}</option>`

                        console.log(str)

                    }
                }

            }
            console.log(str)
            hotelselect.html(str)

        })
    })





</script>

</body>
</html>