<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-4">
                <div class="text-center">
                    <h1>회원Email 찾기</h1>
                </div>

                <div th:if="${msg != null}" class="alert alert-danger">
                    <span th:text="${msg}"></span>
                </div>

                <form  class="row g-3 mt-3" action="/member/findID" method="post" th:object="${memberDTO}">

                    <div class="mb-1">
                        <label for="name" class="form-label">name</label>
                        <input type="text" class="form-control" id="name"  name="name" placeholder="가입한 회원 정보를 입력하세요.">
                    </div>

                    <div class="mb-1">
                        <label for="tel" class="form-label">tel</label>
                        <input type="phone" class="form-control" id="tel"  name="tel" placeholder="가입한 핸드폰 정보를 입력하세요.">
                    </div>

                    <div class="text-center d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn btn-primary"> Email찾기</button>

                    </div>
                </form>
                <div class="mt-5 text-center" th:if="${memberDTO?.email}">
                    <h4>회원 정보 : </h4>
                        <h3> <span th:text="${memberDTO.email}"></span></h3>
                </div>
            </div>
        </div>
    </div>

</th:block>

<script th:inline="javascript" layout:fragment="script" >

    document.addEventListener("DOMContentLoaded", function () {
        const telInput = document.getElementById("tel");

        // 숫자만 입력 가능하도록 설정
        telInput.addEventListener("input", function () {
            this.value = this.value.replace(/\D/g, ""); // 숫자가 아닌 모든 문자 제거
        });

        // 붙여넣기 방지 및 숫자만 허용
        telInput.addEventListener("paste", function (e) {
            e.preventDefault();
            let pasteData = (e.clipboardData || window.clipboardData).getData("text");
            this.value = pasteData.replace(/\D/g, ""); // 숫자가 아닌 문자 제거 후 붙여넣기
        });
    });

</script>

</body>
</html>