<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="row mt-5">
        <div class="col-8 offset-3">
            <div class="col-6 text-center">
                <h1>로그인</h1>
            </div>

           <!-- <div  th:if="${param.error}">
                <h1>
                    ID또는 비밀번호를 확인해주세요.
                </h1>
            </div>-->

            <script th:inline="javascript">
                let errorMsg = [[${param.error}]]
                if(errorMsg) {
                    alert("아이디 또는 비밀번호를 확인해주세요")
                }

            </script>

            <div class="d=flex vh-100">
                <div class="container my-auto">
                    <div class=" row justify-content-center">
                        <form class="row g-3 formA" action="/member/login" method="post">

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" placeholder="가입한 이메일을 입력해주세요." required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요." required>

                                </div>
                            </div>



                            <div class="col-6 text-center">
                                <button type="submit" class="btn btn-primary formbtn">로그인</button>
                                <a href="/member/signup" class="btn btn-primary">회원가입</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

    </div>


</th:block>



<th:block layout:fragment="script">
</th:block>

</body>
</html>