<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>회원리스트</title>

</head>
<body>

<th:block layout:fragment="content">
    <h1 class="text-center mt-3">전체 회원 목록</h1>

    <nav class="navbar" id="navbar">
        <div class="navbar-right">
            <div class="search-form">
                <form th:action="@{/member/memberList}" method="get">
                    <div class="input-group input-group-sm" id="input-group-search">
                        <input type="text" name="keyword" autocomplete="off" class="form-control" placeholder="Search" th:value="${keyword}" style="width: 250px;">
                        <div class="input-group-append">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>


    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="text-center">
                    <th>번호</th>
                    <th>Email</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>권한</th>
                    <th>승인여부</th>
                </tr>
                </thead>
                <tbody>

            <th:block th:if="${pageResponseDTO != null}">
                <th:block th:if="${pageResponseDTO.dtoList == null or #lists.isEmpty(pageResponseDTO.dtoList)}">
                    <tr>
                        <td colspan="6" class="text-center">
                            <h5>회원 목록이 없습니다.</h5>
                        </td>
                    </tr>
                </th:block>

                <th:block th:each="memberDTO:${pageResponseDTO.dtoList}">
                        <tr class="text-center">
                            <td th:text="${memberDTO.member_num}"></td>
                            <td th:text="${memberDTO.email}"></td>
                            <td th:text="${memberDTO.name}"></td>
                            <td th:text="${memberDTO.tel}"></td>
                            <td th:text="${memberDTO.role}"></td>
                            <td th:text="${memberDTO.power}"></td>
                        </tr>
                </th:block>
            </th:block>

                </tbody>
            </table>
        </div>
    </div>

    <div class="pagination mt-3" th:if="${pageResponseDTO != null and not #lists.isEmpty(pageResponseDTO.dtoList)}">
    <th:block th:if="${pageResponseDTO.prev}">
        <a class="pagingbtn" th:href="@{/member/memberList(page=${pageResponseDTO.start -1})}">이전</a>
    </th:block>

    <div th:with="a=${pageRequestDTO}">
        <th:block th:each="i: ${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}">
            <a class="pagingbtn" th:href="@{/member/memberList(page=${i})}">
                [[${i}]]
            </a>
        </th:block>
    </div>

    <th:block th:if="${pageResponseDTO.next}">
        <a class="pagingbtn" th:href="@{/member/memberList.html(page=${pageResponseDTO.end + 1})}">다음</a>
    </th:block>
    </div>

</th:block>

</body>
</html>