<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>회원리스트</title>

</head>
<body>

<th:block layout:fragment="content">
    <h1 class="text-center mt-5">전체 회원 목록</h1>

    <nav class="navbar" id="navbar">
        <div class="navbar-right">
            <div class="search-form">
                <form th:action="@{/member/memberList}" method="get">
                    <div class="input-group input-group-sm" id="input-group-search">
                        <input type="text" name="keyword" autocomplete="off" class="form-control" placeholder="Search" th:value="${keyword}" style="width: 250px;">
                        <div class="input-group-append">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>


    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="text-center">
                    <th>
                        <a th:href="@{/member/memberList(sort=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, orderType='member_num' ,page=${pageRequestDTO.page})}">
                            번호
                        <span th:if="${orderType == 'member_num'}" th:text="${sortOrder == 'ASC' ? '▲' : '▼'}"></span>
                        </a></th>
                    <th>
                        <a th:href="@{/member/memberList(sort=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, orderType='email' ,page=${pageRequestDTO.page})}">
                        Email
                        <span th:if="${orderType == 'email'}" th:text="${sortOrder == 'ASC' ? '▲' : '▼'}"></span>
                        </a>
                    </th>
                    <th>
                        <a th:href="@{/member/memberList(sort=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, orderType='name' ,page=${pageRequestDTO.page})}">
                        이름
                        <span th:if="${orderType == 'name'}" th:text="${sortOrder == 'ASC' ? '▲' : '▼'}"></span>
                        </a>
                    </th>
                    <th>
                        <a th:href="@{/member/memberList(sort=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, orderType='tel' ,page=${pageRequestDTO.page})}">
                        연락처
                        <span th:if="${orderType == 'tel'}" th:text="${sortOrder == 'ASC' ? '▲' : '▼'}"></span>
                        </a>
                    </th>
                    <th>
                        <a th:href="@{/member/memberList(sort=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, orderType='role' ,page=${pageRequestDTO.page})}">
                            권한
                        <span th:if="${orderType == 'role'}" th:text="${sortOrder == 'ASC' ? '▲' : '▼'}"></span>
                        </a>
                    </th>
                    <th>
                        <a th:href="@{/member/memberList(sort=${sortOrder == 'ASC' ? 'DESC' : 'ASC'}, orderType='power' ,page=${pageRequestDTO.page})}">
                            승인여부
                        <span th:if="${orderType == 'power'}" th:text="${sortOrder == 'ASC' ? '▲' : '▼'}"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>

            <th:block th:if="${pageResponseDTO != null}">
                <th:block th:if="${pageResponseDTO.dtoList == null or #lists.isEmpty(pageResponseDTO.dtoList)}">
                    <tr>
                        <td colspan="6" class="text-center">
                            <h5>회원 목록이 없습니다.</h5>
                        </td>
                    </tr>
                </th:block>

                <th:block th:each="memberDTO:${pageResponseDTO.dtoList}">
                        <tr class="text-center">
                            <td th:text="${memberDTO.member_num}"></td>
                            <td th:text="${memberDTO.email}"></td>
                            <td th:text="${memberDTO.name}"></td>
                            <td th:text="${memberDTO.tel}"></td>
                            <td th:text="${memberDTO.role}"></td>
                            <td th:text="${memberDTO.power}"></td>
                        </tr>
                </th:block>
            </th:block>

                </tbody>
            </table>
        </div>
    </div>


    <!--페이징처리-->
    <div class="row mt-3">
        <th:block th:if="${pageResponseDTO != null and pageResponseDTO.dtoList != null and !#lists.isEmpty(pageResponseDTO.dtoList)}">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <th:block th:if="${pageResponseDTO.prev}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/member/memberList(page=${pageResponseDTO.start -1}, keyword=${pageRequestDTO.keyword})}">이전</a>
                                </li>
                            </th:block>

                            <th:block th:each="i: ${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/member/memberList(page=${i}, keyword=${pageRequestDTO.keyword})}">
                                        [[${i}]]
                                    </a>
                                </li>
                            </th:block>

                            <th:block th:if="${pageResponseDTO.next}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/member/memberList.html(page=${pageResponseDTO.end + 1}, keyword=${pageRequestDTO.keyword})}">다음</a>
                                </li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
            </div>
        </th:block>
    </div>

</th:block>

</body>
</html>