<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 수정</title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-4">
                <div class="text-center">
                    <h1>내정보 수정</h1>
                </div>


                <form class="row g-3" action="/member/mypageModify" method="post">

                    <th:block th:object="${memberDTO}">
                        <div class="mb-1">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="email" id="email" th:value="${memberDTO.email}" disabled readonly>
                            <input type="hidden" name="email" th:value="${memberDTO.email}">
                        </div>

                        <div class="mb-1">
                            <label for="name" class="form-label">Name</label>
                            <input class="form-control" type="text" id="name" th:value="${memberDTO.name}" disabled readonly>
                            <input type="hidden" name="name" th:value="${memberDTO.name}">
                        </div>

                        <div class="mb-1">
                            <label for="tel" class="form-label">tel update</label>
                            <input class="form-control" type="text" aria-label="With text" id="tel" th:field="*{tel}">
                            <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">전화번호 입력 오류</span>
                        </div>

                        <div class="mb-1">
                            <label for="password" class="form-label">Password update</label>
                            <input class="form-control" type="password" id="password" name="password" th:field="*{password}">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 입력 오류</span>
                        </div>

                        <div class="mb-1">
                            <label for="reg_date" class="form-label">가입일자</label>
                            <input class="form-control" type="text" id="reg_date" th:value="${#temporals.format(memberDTO.reg_date, 'yyyy-MM-dd')}" disabled readonly>
                        </div>

                        <div class="col text-center d-flex justify-content-center gap-3 mt-4">
                            <button type="submit" class="btn btn-primary">저장</button>
                        </div>

                    </th:block>
                </form>
            </div>
        </div>
    </div>
</th:block>


</body>
</html>