<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card row mt-3">

                <div class="container">

                    <div class="header mt-5">
                        <p>예약 날짜 : <span th:text="${#temporals.format(roomReserveItemDTO.reg_date, 'yyyy.MM.dd')}"></span></p>
                    </div>

                    <div class="section mt-5">
                        <h2>상품 및 이용정보</h2>
                        <div class="info-box">
                            <div class="info-details">
                                <p><strong th:text="${roomReserveItemDTO.roomDTO.hotelDTO.hotel_name}"></strong></p>
                                <p th:text="${roomReserveItemDTO.roomDTO.room_name}"></p>
                                <p>체크인 : <span th:text="${roomReserveItemDTO.in_date}"></span></p>
                                <p>체크아웃 : <span th:text="${roomReserveItemDTO.out_date}"></span></p>
                                <p>인원 : 기준 /최대 <span th:text="${roomReserveItemDTO.roomDTO.room_bed}">2명</span></p>
                                <p>가격 : <span th:text="${roomReserveItemDTO.payDTO.amount}"></span></p>
                                <button type="button" th:classappend="${roomReserveItemDTO.roomReserveDTO.check_state.name() == 'IN'} ? 'active' : 'disabled'"
                                        th:onclick="|location.href='@{/orderreserve/orderReserveRegister(roomreserveitem_num=${roomReserveItemDTO.roomreserveitem_num})}'|"
                                        class="mt-3 btn btn-primary">룸서비스 주문</button>
                                <button type="button" th:classappend="${roomReserveItemDTO.roomReserveDTO.check_state.name() == 'OUT'} ? 'active' : 'disabled'"
                                        th:onclick="|location.href='@{/review/reviewRegister(reserve_num=${roomReserveItemDTO.roomReserveDTO.reserve_num})}'|"
                                        class="mt-3 btn btn-secondary">후기 작성하기</button>
                            </div>
                        </div>
                    </div>

                    <div class="section mt-5">
                        <h2>예약자 정보</h2>
                        <p>이름 : <span th:text="${roomReserveItemDTO.roomReserveDTO.memberDTO.name}"></span></p>
                        <p>번호 : <span th:text="${roomReserveItemDTO.roomReserveDTO.memberDTO.tel}"></span></p>
                    </div>

                    <div class="section mt-5">
                        <h2>결제 금액</h2>
                        <p>상품 금액 : <span th:text="${roomReserveItemDTO.payDTO.amount}"></span></p>
                        <hr/>
                        <strong>총 결제 금액 : <span th:text="${roomReserveItemDTO.payDTO.amount}"></span></strong><br/>
                    </div>

                    <div class="button-group mt-5 mb-5">
                        <button type="button" onclick="location.href='/member/userAllMyPage'"class="btn btn-warning">내 정보 메인</button>
                        <button type="button" class="btn btn-danger">예약 취소하기</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script th:inline="javascript" layout:fragment="script">

        let msg = [[${msg}]]
        if (msg) {
            alert(msg)
        }
        $(document).ready(function () {

        });

    </script>
</th:block>

</body>
</html>