<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <h1 class="text-center fw-bold mt-3">룸예약 내역 상세보기</h1>
            <div class="col-12 my-3">
                <div class="card text-center">
                        <table class="table">
                            <thead class="table-light">
                            <tr>
                                <th scope="col">예약 번호</th>
                                <th scope="col">호텔명</th>
                                <th scope="col">룸명</th>
                                <th scope="col">예약일</th>
                                <th scope="col">결제 상태</th>
                                <th scope="col">예약 상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="align-middle" th:text="${roomReserveItemDTO.roomReserveDTO.reserve_id}">예약 번호</td>
                                <td class="align-middle" th:text="${roomReserveItemDTO.roomDTO.hotelDTO.hotel_name}">호텔명</td>
                                <td class="align-middle" th:text="${roomReserveItemDTO.roomDTO.room_name}">룸명</td>
                                <td class="align-middle" th:text="${#temporals.format(roomReserveItemDTO.reg_date, 'yyyy.MM.dd HH:mm')}">예약일</td>
                                <td class="align-middle" th:switch="${roomReserveItemDTO.payDTO.pay_state}"> <!--결제 상태-->
                                    <span th:case="${roomReserveItemDTO.payDTO.pay_state.COMPLETE}">완료</span>
                                    <span th:case="${roomReserveItemDTO.payDTO.pay_state.CANCEL}">취소</span>
                                    <span th:case="*">오류</span> <!-- 예외 처리 -->
                                </td>
                                <td class="text-nowrap align-middle" th:switch="${roomReserveItemDTO.roomReserveDTO.check_state}"> <!--주문 상태-->
                                    <button type="button" class="btn btn-primary stateBtn" th:value="${roomReserveItemDTO.roomReserveDTO.reserve_num}"
                                            th:data-state="${roomReserveItemDTO.roomReserveDTO.check_state.RESERVE}"
                                            th:case="${roomReserveItemDTO.roomReserveDTO.check_state.RESERVE}">접수</button>
                                    <button type="button" class="btn btn-warning stateBtn" th:value="${roomReserveItemDTO.roomReserveDTO.reserve_num}"
                                            th:data-state="${roomReserveItemDTO.roomReserveDTO.check_state.IN}"
                                            th:case="${roomReserveItemDTO.roomReserveDTO.check_state.IN}">체크인</button>
                                    <button type="button" class="btn btn-danger stateBtn" th:value="${roomReserveItemDTO.roomReserveDTO.reserve_num}"
                                            th:data-state="${roomReserveItemDTO.roomReserveDTO.check_state.OUT}"
                                            th:case="${roomReserveItemDTO.roomReserveDTO.check_state.OUT}">체크아웃</button>
                                    <button type="button" class="btn btn-secondary stateBtn" th:value="${roomReserveItemDTO.roomReserveDTO.reserve_num}"
                                            th:data-state="${roomReserveItemDTO.roomReserveDTO.check_state.CANCEL}"
                                            th:case="${roomReserveItemDTO.roomReserveDTO.check_state.CANCEL}">취소</button>
                                    <button type="button" class="btn btn-primary stateBtn" th:value="${roomReserveItemDTO.roomReserveDTO.reserve_num}"
                                            th:case="*">오류</button> <!-- 예외 처리 -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card text-center">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">예약자명</th>
                            <th scope="col">전화번호</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${roomReserveItemDTO.roomReserveDTO.memberDTO.name}">예약자명</td>
                            <td th:text="${roomReserveItemDTO.roomReserveDTO.memberDTO.tel}">전화번호</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="card text-center">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">체크인 날짜</th>
                            <th scope="col">체크아웃 날짜</th>
                            <th scope="col">예약 인원</th>
                            <th scope="col">1박당 금액(원)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="align-middle" th:text="${#temporals.format(roomReserveItemDTO.in_date, 'yyyy.MM.dd HH:mm')}">체크인 날짜</td>
                            <td class="align-middle" th:text="${#temporals.format(roomReserveItemDTO.out_date, 'yyyy.MM.dd HH:mm')}">체크아웃 날짜</td>
                            <td class="align-middle" th:text="${roomReserveItemDTO.count}">예약 인원</td>
                            <td class="room_price align-middle" th:text="${roomReserveItemDTO.roomDTO.room_price}">금액(원)</td>
                            <input type="hidden" class="day" th:value="${roomReserveItemDTO.day}">
                        </tr>
                        <tr>
                            <td colspan="2" class="table-light">총 금액</td>
                            <td colspan="2" class="table-light text-danger totalPrice">0원</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="button" th:classappend="${roomReserveItemDTO.roomReserveDTO.check_state.name() == 'IN'} ? 'active' : 'disabled'"
                        th:onclick="|location.href='@{/orderreserve/orderReserveRegister(roomreserveitem_num=${roomReserveItemDTO.roomreserveitem_num})}'|"
                        class="btn btn-success">룸서비스 주문</button>

                <button type="button"
                        th:classappend="${roomReserveItemDTO.roomReserveDTO.check_state.name() == 'OUT'} ? 'active' : 'disabled'"
                        th:disabled="${check}"
                        th:onclick="|location.href='@{/review/reviewRegister(reserve_num=${roomReserveItemDTO.roomReserveDTO.reserve_num})}'|"
                        class="btn btn-secondary">리뷰 작성
                </button>

                <button class="btn btn-dark" type="button" th:onclick="|location.href='@{/member/myRoomReserveList}'|">예약 목록</button>
            </div>
        </div>
    </div>


    <script th:inline="javascript" layout:fragment="script">

        $(document).ready(function () {
            $(document).on("click", ".stateBtn", function() {
                let button = $(this);
                let reserveNum = button.val();
                let currentState = button.data("state");

                if (currentState === "CANCEL") {
                    alert("이미 취소된 예약입니다.");
                    return;
                }

                if (currentState !== "RESERVE") {
                    alert("예약이 접수 상태일 때만 취소할 수 있습니다.");
                    return;
                }

                if (confirm("정말 예약을 취소하시겠습니까?")) {
                    $.ajax({
                        type: "POST",
                        url: "/roomreserve/state",
                        data: { reserve_num: reserveNum, check_state: "CANCEL" },
                        success: function(response) {
                            let newButton = `<button type="button" class="btn btn-secondary stateBtn" value="${reserveNum}">예약 취소</button>`;
                            button.replaceWith(newButton);
                            location.reload();
                        },
                        error: function() {
                            alert("변경 중 오류가 발생했습니다.");
                            location.reload();
                        }
                    });
                }
            });
        });

    </script>
</th:block>

</body>
</html>