<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="text-center">
                    <h1>마이 페이지</h1>

                    <div class="text-end" style="padding-right: 25px; margin-top: 20px;">
                        <span th:text="${#strings.concat(memberDTO.name, ' 님')}">이름</span>
                    </div>

                    <div class="container mt-1">
                        <div class="card">
                            <div class="card-body">
                                <!-- 큰 카드 안에 또 다른 네모 카드들 배치 -->
                                <div class="card mt-3 border" style="box-shadow: none;">

                                    <div class="card-body">
                                        <div class="row text-center">
                                            <!-- 내 정보 관리 -->
                                            <div class="col-md-4 border-end">
                                                <a href="/member/mypage" class="text-decoration-none text-dark">
                                                    <i class="bi bi-person-circle fs-1"></i>
                                                    <h5 class="mt-3">내 정보 관리</h5>
                                                </a>
                                            </div>

                                            <!-- 내 리뷰 관리 -->
                                            <div class="col-md-4 border-end">
                                                <a href="/review/myReviewList" class="text-decoration-none text-dark">
                                                    <i class="bi bi-star-fill fs-1 text-warning"></i>
                                                    <h5 class="mt-3">내 리뷰 관리</h5>
                                                </a>
                                            </div>

                                            <!-- 내 문의사항 -->
                                            <div class="col-md-4">
                                                <a href="/qna/myQnaList" class="text-decoration-none text-dark">
                                                    <i class="bi bi-chat-dots-fill fs-1 text-primary"></i>
                                                    <h5 class="mt-3">내 문의사항</h5>
                                                </a>
                                            </div>
                                        </div> <!-- row 끝 -->
                                    </div> <!-- card-body 끝 -->
                                </div> <!-- 작은 카드 끝 -->

<!--                                <h4 class="text-start fw-bold mt-3"><a href="#">내 결제 이력</a></h4>-->

                                <div class="row mt-5">
                                    <div class="mt-3 row text-start">
                                        <h4 class="col-11 fw-bold">최근 룸예약 내역</h4>
                                        <p class="col-1 text-center">
                                            <a href="/member/myRoomReserveList">더보기</a>
                                        </p>
                                    </div>

                                    <div class="mt-3">
                                        <div class="row row-cols-1 row-cols-md-4 g-5 p-3">
                                            <th:block th:if="${reserveItemDTOPageResponseDTO == null or reserveItemDTOPageResponseDTO.dtoList == null or reserveItemDTOPageResponseDTO.dtoList.isEmpty()}">
                                                <div class="col-12 d-flex justify-content-center align-items-center">
                                                    <span class="h5 fw-bold">최근 예약 내역이 없습니다.</span>
                                                </div>
                                            </th:block>
                                            <th:block th:unless="${reserveItemDTOPageResponseDTO == null or reserveItemDTOPageResponseDTO.dtoList == null or reserveItemDTOPageResponseDTO.dtoList.isEmpty()}" th:each="roomReserveItemDTO : ${reserveItemDTOPageResponseDTO.dtoList}">
                                                <div class="card mx-auto" style="max-width: 250px;">
                                                    <div class="card-body px-auto" style="color: #31343d">
                                                        <h5 class="card-title fw-bold" th:text="${roomReserveItemDTO.roomDTO.hotelDTO.hotel_name}">예약한 호텔</h5>
                                                        <h5 class="card-title" th:text="${roomReserveItemDTO.roomDTO.room_name}">예약한 방 이름</h5>
                                                        <p class="card-text mb-1 fw-bold">
                                                            예약 상태 :
                                                            <span th:switch="${roomReserveItemDTO.roomReserveDTO.check_state}" class="text-nowrap" > <!--주문 상태-->
                                                            <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.RESERVE}">접수</span>
                                                            <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.IN}">체크인</span>
                                                            <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.OUT}">체크아웃</span>
                                                            <span th:case="${roomReserveItemDTO.roomReserveDTO.check_state.CANCEL}">취소</span>
                                                            <span th:case="*">오류</span> <!-- 예외 처리 -->
                                                        </span>
                                                        </p>
                                                        <small class="card-text fw-bold">체크인 : </small>
                                                        <small class="card-text text-nowrap" th:text="${#temporals.format(roomReserveItemDTO.in_date, 'yyyy.MM.dd HH:mm')}">체크인 시간</small> <br>
                                                        <small class="card-text fw-bold">체크아웃 : </small>
                                                        <small class="card-text text-nowrap" th:text="${#temporals.format(roomReserveItemDTO.out_date, 'yyyy.MM.dd HH:mm')}">체크아웃 시간</small>
                                                        <a th:href="@{/member/myRoomReserveRead(roomreserveitem_num=${roomReserveItemDTO.roomreserveitem_num})}"
                                                           class="btn btn-primary">예약 확인</a>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div>

                                    <div class="mt-3 border"></div>

                                    <div class="mt-3 row text-start">
                                        <h4 class="col-11 fw-bold">최근 룸서비스 주문 내역</h4>
                                        <p class="col-1 text-center">
                                            <a href="/member/myOrderReserveList">더보기</a>
                                        </p>
                                    </div>

                                    <div class="mt-3">
                                        <div class="row row-cols-1 row-cols-md-4 g-4 p-3">
                                            <th:block th:if="${orderReserveItemDTOPageResponseDTO == null or orderReserveItemDTOPageResponseDTO.dtoList == null or orderReserveItemDTOPageResponseDTO.dtoList.isEmpty()}">
                                                <div class="col-12 d-flex justify-content-center align-items-center">
                                                    <span class="h5 fw-bold">최근 주문 내역이 없습니다.</span>
                                                </div>

                                            </th:block>
                                            <th:block th:unless="${orderReserveItemDTOPageResponseDTO == null or orderReserveItemDTOPageResponseDTO.dtoList == null or orderReserveItemDTOPageResponseDTO.dtoList.isEmpty()}" th:each="orderReserveItemDTO : ${orderReserveItemDTOPageResponseDTO.dtoList}">
                                                <div class="card mx-auto" style="max-width: 250px;">
                                                    <div class="card-body px-auto" style="color: #31343d">
                                                        <h5 class="card-title" th:text="${'주문일 ' + #temporals.format(orderReserveItemDTO.orderReserveDTO.reg_date, 'yyyy.MM.dd HH:mm')}">주문일</h5>
                                                        <p class="card-text mb-1 fw-bold">
                                                            주문 상태 :
                                                            <span th:switch="${orderReserveItemDTO.orderReserveDTO.order_state}">
                                                            <span th:case="${orderReserveItemDTO.orderReserveDTO.order_state.ORDER}">접수</span>
                                                            <span th:case="${orderReserveItemDTO.orderReserveDTO.order_state.PREPARE}">준비중</span>
                                                            <span th:case="${orderReserveItemDTO.orderReserveDTO.order_state.COMPLETE}">완료</span>
                                                            <span th:case="${orderReserveItemDTO.orderReserveDTO.order_state.CANCEL}">취소</span>
                                                            <span th:case="*">오류</span> <!-- 예외 처리 -->
                                                            </span>
                                                        </p>
                                                        <p class="card-text mb-1" th:text="${'결제 금액 : ' + orderReserveItemDTO.orderReserveDTO.total_price + '원'}">결제 금액</p>

                                                        <a th:href="@{/member/myOrderReserveRead(serviceitem_num=${orderReserveItemDTO.serviceitem_num})}" class="btn btn-primary">주문 확인</a>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- card-body 끝 -->
                        </div> <!-- 큰 카드 끝 -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>

</body>
</html>