<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="text-center">
                    <h1>마이페이지</h1>


                    <div class="text-end" style="padding-right: 25px; margin-top: 20px;">
                        <span th:text="${#strings.concat(memberDTO.name, ' 님')}">이름</span>
                    </div>

                    <div class="container mt-1">
                        <div class="card">
                            <div class="card-body">
                                <!-- 큰 카드 안에 또 다른 네모 카드들 배치 -->
                                <div class="card mt-3 border" style="box-shadow: none;">

                                    <div class="card-body">
                                        <div class="row text-center">
                                            <!-- 내 정보 관리 -->
                                            <div class="col-md-4 border-end">
                                                <a href="/member/mypage" class="text-decoration-none text-dark">
                                                    <i class="bi bi-person-circle fs-1"></i>
                                                    <h5 class="mt-3">내 정보 관리</h5>
                                                </a>
                                            </div>

                                            <!-- 내 리뷰 관리 -->
                                            <div class="col-md-4 border-end">
                                                <a href="/review/reviewList" class="text-decoration-none text-dark">
                                                    <i class="bi bi-star-fill fs-1 text-warning"></i>
                                                    <h5 class="mt-3">내 리뷰 관리</h5>
                                                </a>
                                            </div>

                                            <!-- 내 문의사항 -->
                                            <div class="col-md-4">
                                                <a href="/qna/qnaList" class="text-decoration-none text-dark">
                                                    <i class="bi bi-chat-dots-fill fs-1 text-primary"></i>
                                                    <h5 class="mt-3">내 문의사항</h5>
                                                </a>
                                            </div>
                                        </div> <!-- row 끝 -->
                                    </div> <!-- card-body 끝 -->
                                </div> <!-- 작은 카드 끝 -->

                                <div class="row mt-5">
                                    <h3 class="text-start"> 최근 예약내역 </h3>

                                    <div class="mt-3 row text-start">
                                        <h4 class="col-11">최근 룸예약 내역</h4>
                                        <p class="col-1 text-end">
                                            <a href="#">더보기</a>
                                        </p>
                                    </div>

                                    <div class="mt-3 row row-cols-1 row-cols-md-4 g-4">
                                        <th:block th:if="${roomReserveItemDTOList.isEmpty()}">
                                            <span class="h5 fw-bold">최근 예약 내역이 없습니다.</span>
                                        </th:block>
                                        <th:block th:unless="${roomReserveItemDTOList.isEmpty()}" th:each="roomReserveItem : ${roomReserveItemDTOList}">
                                            <div class="card mx-auto">
                                                <div class="card-body px-auto">
                                                    <h5 class="card-title fw-bold" th:text="${roomReserveItem.roomDTO.hotelDTO.hotel_name}">예약한 호텔</h5>
                                                    <h5 class="card-title" th:text="${roomReserveItem.roomDTO.room_name}">예약한 방 이름</h5>
                                                    <small class="card-text">체크인 : </small>
                                                    <small class="card-text" th:text="${#temporals.format(roomReserveItem.in_date, 'yyyy.MM.dd HH:mm')}">체크인 시간</small> <br>
                                                    <small class="card-text">체크아웃 : </small>
                                                    <small class="card-text" th:text="${#temporals.format(roomReserveItem.out_date, 'yyyy.MM.dd HH:mm')}">체크아웃 시간</small>
                                                    <a th:href="@{/member/myRoomReserveRead(roomreserveitem_num=${roomReserveItem.roomreserveitem_num})}" class="btn btn-primary">예약 내역 확인</a>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div> <!-- card-body 끝 -->
                        </div> <!-- 큰 카드 끝 -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>

</body>
</html>