<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="footer">
    <div class="container">
        <footer class="py-5 mt-auto">
            <div class="container">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="text-primary"><a href="/" class="px-2">Home</a></li>
                    <li class="text-primary"><a href="/notice/noticeList" class="px-2">Notice</a></li>
                    <li class="text-primary"><a href="/qna/qnaList" class="px-2">QnA</a></li>
                </ul>
                <p class="m-0 text-center text-body-secondary">Copyright &copy; SmartStay 2025</p>
            </div>
        </footer>
    </div>
</th:block>

</body>
</html>