<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<th:block th:fragment="header">

    <div class="page-wrapper">
        <header id="header" class="main-header">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar">

                <div>
                    <a href="/">
                        <img src="/assets/img/logo2.png" width="260px" style="margin-left: 30px" alt="">
                        <span class="d-none d-lg-block"></span>
                    </a>
                </div>

                <div class="navbar-right">
                    <div class="search-form">
                        <form action="/searchList" method="get" onsubmit="saveSearchQuery()">
                            <div class="input-group input-group-sm" id="input-group-search">
                                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control" placeholder="호텔 명, 지역 명으로 검색하기" th:value="${param.query}">
                                <div class="input-group-append">
                                    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <nav class="header-nav ms-auto mr-6">
                    <ul class="d-flex align-items-center">
                        <li class="dropdown user-menu">
                            <a sec:authorize="isAuthenticated()" class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
                                <span class="text-primary" th:text="${#authentication.principal.username}">로그인 아이디</span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">

                                <li class="mt-2" sec:authorize="hasAnyAuthority('SUPERADMIN','CHIEF', 'MANAGER')">
                                    <a class="dropdown-link-item" href="/adMain">
                                        <i class="bi bi-house btn-outline-dark"></i>
                                        <span class="nav-text text-dark">관리자 홈</span>
                                    </a>
                                </li>

                                <li class="mb-2" sec:authorize="isAuthenticated()">
                                    <a class="dropdown-link-item" href="/member/userAllMyPage">
                                        <i class="mdi mdi-account-outline btn-outline-dark"></i>
                                        <span class="nav-text text-dark">마이 페이지</span>
                                    </a>
                                </li>

                                <li class="dropdown-footer mb-2" sec:authorize="isAuthenticated()">
                                    <a class="dropdown-link-item" href="/member/logout">
                                        <i class="mdi mdi-logout btn-outline-danger"></i>
                                        <span class="nav-text text-danger">로그아웃</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="user-menu">
                            <button class="btn btn-outline-warning btn-lg" type="button" onclick="location.href='/cart/cartList'" style="border: none">
                                <i class="bi bi-cart"></i>
                            </button>
                        </li>

                        <li class="user-menu">
                            <a sec:authorize="isAnonymous()" class="d-none d-lg-inline-block" href="/member/login">
                                <span class="d-none d-md-block ps-2 text-nowrap" style="margin-right: 3px">로그인</span>
                            </a>
                        </li>
                        <li class="user-menu">
                            <a sec:authorize="isAnonymous()" class="d-none d-lg-inline-block" href="/member/signup">
                                <span class="d-none d-md-block ps-2 text-nowrap" style="margin-right: 3px">회원가입</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </nav>
        </header>
    </div>
</th:block>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const savedQuery = localStorage.getItem('searchQuery');
        if (savedQuery) {
            document.getElementById('search-input').value = savedQuery;
        }
    });
    function saveSearchQuery() {
        const query = document.getElementById('search-input').value;
        localStorage.setItem('searchQuery', query);
    }
</script>
</body>
</html>