<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">

    <div class="page-wrapper">
        <header id="header" class="main-header">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar">

                <div>
                    <a href="/">
                        <img src="/assets/img/logo2.png" width="260px" style="margin-left: 30px" alt="">
                        <span class="d-none d-lg-block"></span>
                    </a>
                </div>

                <div class="navbar-right">
                    <div class="search-form">
                        <form action="/searchList" method="get">
                            <div class="input-group input-group-sm" id="input-group-search">
                                <input type="text" autocomplete="off" name="query" id="search-input" class="form-control" placeholder="Search" />
                                <div class="input-group-append">
                                    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <nav class="header-nav ms-auto">
                    <ul class="d-flex align-items-center">
                        <li class="dropdown user-menu">
                            <a sec:authorize="isAuthenticated()" class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
                                <span class="d-none d-lg-inline-block" th:text="${#authentication.principal.username}">로그인 아이디</span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">

                                <li sec:authorize="hasAnyAuthority('SUPERADMIN','CHIEF', 'MANAGER')">
                                    <a class="dropdown-link-item" href="/adMain">
                                        <i class="bi bi-house"></i>
                                        <span class="nav-text">관리자 홈</span>
                                    </a>
                                </li>

                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-link-item" href="/member/userAllMyPage">
                                        <i class="mdi mdi-account-outline"></i>
                                        <span class="nav-text">마이 페이지</span>
                                    </a>
                                </li>

                                <li class="dropdown-footer" sec:authorize="isAuthenticated()">
                                    <a class="dropdown-link-item" href="/member/logout">
                                        <i class="mdi mdi-logout btn-outline-danger"></i>
                                        <span class="nav-text text-danger">로그아웃</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="user-menu">
                            <button class="btn btn-outline-dark btn-lg" type="button" onclick="location.href='/cart/cartList'" style="border: none">
                                <i class="bi bi-cart"></i>
                            </button>
                        </li>

                        <li class="user-menu">
                            <a sec:authorize="isAnonymous()" class="d-none d-lg-inline-block" href="/member/login">
                                <span class="d-none d-md-block ps-2 text-nowrap" style="margin-right: 3px">로그인</span>
                            </a>
                        </li>
                        <li class="user-menu">
                            <a sec:authorize="isAnonymous()" class="d-none d-lg-inline-block" href="/member/signup">
                                <span class="d-none d-md-block ps-2 text-nowrap" style="margin-right: 3px">회원가입</span>
                            </a>
                        </li>

                        <li class="user-menu">
                            <a sec:authorize="isAnonymous()" class="d-none d-lg-inline-block" href="/member/adSignup">
                                <span class="d-none d-md-block ps-2 text-nowrap">ad회원가입</span>
                            </a>
                        </li>

                        <li class="nav-item pe-3">
                            <a sec:authorize="isAnonymous()" class="d-none d-lg-inline-block" href="/member/cmSignup">
                                <span class="d-none d-md-block ps-2 text-nowrap">cm회원가입</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </nav>
        </header>
    </div>
</th:block>
</body>
</html>