<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/stikysidebar.css}" rel="stylesheet">
    <style layout:fragment="css">
        #aside {
            position: sticky;
            background-color: white;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
        }
    </style>
</head>
<body>

<th:block layout:fragment="content">

    <div id="contain" class="card w-75 mt-5 mx-auto">

        <div class="card-title">
            <h2 class="mt-3 text-center fw-bold">장바구니</h2>
            <hr>
        </div>

        <span class="h4 ms-3 fw-bold">호텔 예약</span>

        <div class="card-body">

            <th:block th:if="${roomItemDTOList.isEmpty()}">
                <div class="mt-3">
                    <span class="h5 fw-bold">장바구니가 비어있습니다.</span>
                </div>
            </th:block>

            <th:block th:unless="${roomItemDTOList.isEmpty()}" th:each="roomItem, iterStat : ${roomItemDTOList}">

                <th:block th:if="${iterStat.index == 0 or roomItem.roomDTO.hotelDTO.hotel_name != roomItemDTOList[iterStat.index - 1].roomDTO.hotelDTO.hotel_name or roomItem.roomDTO.hotelDTO.address != roomItemDTOList[iterStat.index - 1].roomDTO.hotelDTO.address}">
                    <div class="p-3">
                        <span class="h4 fw-bold" th:text="${roomItem.roomDTO.hotelDTO.hotel_name}">호텔 매장 이름</span> <br>
                        <small class="text-body-secondary" th:text="${roomItem.roomDTO.hotelDTO.address}">매장 주소</small>
                        <hr>
                    </div>
                </th:block>

                <div class="p-3">
                    <div class="row mb-2">
                        <div class="col-md-8">
                            <input type="hidden" class="hotelName" name="hotelName" th:value="${roomItem.roomDTO.hotelDTO.hotel_name}">
                            <p class="card-text fs-5 fw-bold roomName"> [[${roomItem.roomDTO.room_name}]] / [[${roomItem.roomDTO.room_type}]] </p>
                        </div>
                        <div class="col-md-4 text-end">
                            <button th:value="${roomItem.roomitem_num}" class="btn btn-outline-dark btn-sm roomremovebtn" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="col-md-1 align-self-center">
                            <input type="checkbox" class="btn-check" name="cartChkBox" th:value="${roomItem.roomitem_num}" th:id="'btn-check-' + ${iterStat.index}" autocomplete="off">
                            <label class="btn btn-outline-secondary" th:for="'btn-check-' + ${iterStat.index}"><i class="bi bi-check-lg"></i></label><br>
                        </div>

                        <div class="col-md-2 align-self-center">
                            <img src="https://picsum.photos/200" class="img-fluid">
                        </div>

                        <div class="col-md-9 align-self-center">
                            <div class="card-body reserveinfo" >
                                <span class="reserveDate">[[${#temporals.format(roomItem.in_date, 'yyyy-MM-dd HH:mm')}]]~[[${#temporals.format(roomItem.out_date,'yyyy-MM-dd HH:mm')}]] | [[${roomItem.day}]]박</span> <br>
                                <span class="fs-6 reserveCount">최대 [[${roomItem.roomDTO.room_bed}]]명 / 예약인원 [[${roomItem.count}]]명</span> <br>
                                <span>룸서비스 신청</span> <br>
                                <span class="reserveRequest">요청사항 : [[${roomItem.reserve_request}]]</span>
                                <th:block th:if="${roomItem.day == 1}">
                                    <input type="hidden" class="roomPrice" th:value="${roomItem.roomDTO.room_price}">
                                    <input type="hidden" class="reserveDay" th:value="${roomItem.day}">
                                    <h5 class="text-end fw-bold">숙박 <span class="text-danger" th:id="'price-' + ${roomItem.roomitem_num}" th:text="${roomItem.day * roomItem.roomDTO.room_price}">10000</span>원</h5>
                                </th:block>
                                <th:block th:unless="${roomItem.day == 1}">
                                    <input type="hidden" class="roomPrice" th:value="${roomItem.roomDTO.room_price}">
                                    <input type="hidden" class="reserveDay" th:value="${roomItem.day}">
                                    <h5 class="text-end fw-bold">연박 <span class="text-danger" th:id="'price-' + ${roomItem.roomitem_num}" th:text="${roomItem.day * roomItem.roomDTO.room_price}">10000</span>원</h5>
                                </th:block>
                            </div>
                        </div>

                        <th:block th:if="${iterStat.index == 0
                        or roomItem.roomDTO.room_name != roomItemDTOList[iterStat.index - 1].roomDTO.room_name
                        or roomItem.in_date != roomItemDTOList[iterStat.index - 1].in_date
                        or roomItem.out_date != roomItemDTOList[iterStat.index - 1].out_date
                        or roomItem.reserve_request != roomItemDTOList[iterStat.index - 1].reserve_request}">
                            <div>
                                <hr>
                            </div>
                        </th:block>
                    </div>

                </div>



            </th:block>


        </div>

        <hr>

        <span class="h4 ms-3 fw-bold">룸 서비스 예약</span>

        <div class="card-body">

            <div class="card p-3 mb-3"  style="box-shadow: none">
                <span class="h4 fw-bold">호텔 매장 이름</span>
                <small class="text-body-secondary">매장 주소</small>
                <hr>
                <div class="row mb-2">
                    <div class="col-md-8">
                        <p class="card-text fs-5 fw-bold"> 룸 이름 / 룸 타입</p>
                    </div>
                    <div class="col-md-4 text-end">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-md-2 align-self-center">
                        <input type="checkbox" class="text-center">
                        <img src="https://picsum.photos/200" class="img-fluid">
                    </div>
                    <div class="col-md-10 align-self-center">
                        <div class="card-body">
                            <span>체크인~체크아웃 기간 | n박</span> <br>
                            <span class="fs-6">기준 n명 / 예약인원 n명</span> <br>
                            <span>룸서비스 신청</span> <br>
                            <span>요청사항</span>
                            <h5 class="text-end fw-bold">숙박/연박 <span class="text-danger">10000</span>원</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <aside class="border-top" id="aside">

        <div class="p-3 mb-3">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <span class="card-text fs-5 fw-bold checkedCount">총 n건</span>
                </div>
                <div class="col-md-6 align-self-center text-end">
                    <span class="card-text fs-5 fw-bold">총 결제 금액</span>
                    <h3 class="fw-bold"><span class="text-danger" id="orderTotalPrice">0</span>원</h3>
                </div>
            </div>

            <div class="d-grid gap-2 text-center mt-2">
                <button class="btn btn-primary btn-lg" type="button">구매하기</button>
            </div>
        </div>

        <hr>

    </aside>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fw-bold">호텔 매장 이름 <span class="fs-4 fw-bold"> 룸 이름 / 룸 타입</span></h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <span class="fs-6 text-secondary">체크인</span> <br>
                            <input class="in_date" type="datetime-local" name="in_date">
                        </div>
                        <div class="col">
                            <span class="fs-6 text-secondary">체크아웃</span> <br>
                            <input class="out_date" type="datetime-local" name="out_date">
                        </div>
                    </div>

                    <span class="fs-6 maxCount">최대 1명 예약 가능</span>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">예약 인원</span>
                        <input type="number" class="form-control count" name="count" min="1"
                               placeholder="예약 인원 수를 입력하세요.">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">요청사항</label>
                        <textarea class="form-control reserve_request" name="reserve_request" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="text-end mb-3">
                        <span>숙박/1박당 </span> <input type="hidden" class="day" name="day">
                        <span class="fs-5 fw-bold price">10000</span>
                        <span>원</span>
                        <h3 class="fw-bold">총 금액 <span class="text-danger totalPrice">10000</span>원</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">수정</button>
                </div>
            </div>
        </div>
    </div>

</th:block>

<script th:inline="javascript" layout:fragment="script">

    $(document).ready(function () {

        //체크시 가격 반영
        $("input[name=cartChkBox]").change(function () {
            getOrderTotalPrice()
        })

        //체크시 가격 반영 메소드
        function getOrderTotalPrice() {

            let orderTotalPrice  = 0;
            let checkedCount = 0;

            $("input[name=cartChkBox]:checked").each(
                function () {
                    let roomitem_num = $(this).val()
                    let price = $("#price-" + roomitem_num).text()
                    price = parseInt(price.replace(/[^0-9]/g, ''));
                    orderTotalPrice += price;
                    checkedCount++;
                }
            )

            $("#orderTotalPrice").text(orderTotalPrice)
            $(".checkedCount").text("총 " + checkedCount + "건");

        }

        //룸예약 장바구니 삭제
        $(".roomremovebtn").on("click", function () {
            let roomitem_num =  $(this).val()

            let url = "/cart/cartRoomReserveDelete/" + roomitem_num

            $.ajax({
                url : url ,
                type: "delete",
                dataType : "json",
                success : function (result) {
                    location.href = "/cart/cartList"
                },
                error : function (result, status, error) {

                    if(result.status == '401'){
                        alert("로그인 후 이용해주세요")
                        location.href = "/member/login"
                    }else {
                        alert(result.responseText)
                    }

                }

            })

        })

        // 예약 정보 클릭 시 모달 창에 데이터 채우기
        $(".reserveinfo").on("click", function () {
            // 현재 클릭된 요소에서 필요한 데이터 가져오기
            let checkInOutText = $(this).find(".reserveDate").text().trim();
            let maxPeopleText = $(this).find(".reserveCount").text().trim();
            let requestText = $(this).find(".reserveRequest").text().trim();
            let roomPrice = $(this).closest(".col-md-9").find(".roomPrice").val();  // 가격
            let reserveDay = $(this).closest(".col-md-9").find(".reserveDay").val(); // 숙박일
            let hotelName = $(this).closest(".p-3").find(".hotelName").val(); // 호텔 매장 이름
            console.log("호텔 이름: ", hotelName);
            let roomInfoText = $(this).closest(".p-3").find(".fs-5.fw-bold").text().trim(); // 룸 이름 / 룸 타입

            // 체크인, 체크아웃 날짜 파싱
            let checkInDate = checkInOutText.split("~")[0].trim();
            let checkOutDate = checkInOutText.split("~")[1].split("|")[0].trim();

            // 최대 예약 가능 인원 및 현재 예약 인원 수 파싱
            let maxPeople = parseInt(maxPeopleText.split("최대 ")[1].split("명")[0].trim()); // 최대 예약 가능 인원
            let reservedPeople = parseInt(maxPeopleText.split("예약인원 ")[1].split("명")[0].trim()); // 현재 예약 인원

            // 요청 사항 파싱
            let requestContent = requestText.replace("요청사항 :", "").trim();

            // 요청 사항이 비어 있을 경우 기본값 설정
            if (requestContent === "") {
                requestContent = "요청 사항 없음";
            }

            // 총 가격 계산
            let totalPrice = roomPrice * reserveDay;

            // 모달 창에 데이터 삽입
            $(".modal .modal-title").html(hotelName + ' <span class="fs-4 fw-bold">' + roomInfoText + '</span>');  // 호텔 매장 이름 + 룸 정보
            $(".modal input.in_date").val(checkInDate);  // 체크인 날짜
            $(".modal input.out_date").val(checkOutDate); // 체크아웃 날짜
            $(".modal textarea.reserve_request").val(requestContent); // 요청사항
            $(".modal .day").val(reserveDay); // 숙박일
            $(".modal .price").text(roomPrice); // 1박당 가격
            $(".modal .totalPrice").text(totalPrice); // 총 금액

            // 최대 예약 가능 인원 반영
            $(".modal .maxCount").text("최대 " + maxPeople + "명 예약 가능");
            $(".modal input.count").attr("max", maxPeople).val(reservedPeople); // 예약 인원 설정

            // 모달 창 띄우기
            $("#exampleModal").modal("show");

            // 모달이 열린 후 setMinDateTime 실행
            setTimeout(setMinDateTime, 300);
        });

        function setMinDateTime() {
            let today = new Date();
            let year = today.getFullYear();
            let month = String(today.getMonth() + 1).padStart(2, '0'); // 월 (0부터 시작하므로 +1 필요)
            let day = String(today.getDate()).padStart(2, '0'); // 일
            let hours = String(today.getHours()).padStart(2, '0'); // 현재 시간
            let minutes = String(today.getMinutes()).padStart(2, '0'); // 현재 분

            let minDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
            $(".modal .in_date").attr("min", minDateTime);
        }

        $(".in_date").on("change", function () {
            let selectedDate = new Date($(this).val());
            let today = new Date();

            // 사용자가 오늘 날짜를 선택한 경우, 현재 시간 이전을 선택 못 하게 변경
            if (selectedDate.toDateString() === today.toDateString()) {
                let minTime = today.getHours().toString().padStart(2, '0') + ":" + today.getMinutes().toString().padStart(2, '0');
                let selectedTime = selectedDate.getHours().toString().padStart(2, '0') + ":" + selectedDate.getMinutes().toString().padStart(2, '0');

                if (selectedTime < minTime) {
                    alert("현재 시간 이전은 선택할 수 없습니다.");
                    $(this).val(""); // 잘못된 값 초기화
                }
            }
        });

        // 날짜 변경 시 총 가격 업데이트
        $(".in_date, .out_date").on("change", function () {
            totalpriceChange();
        });

        //총 가격 계산 함수
        function totalpriceChange(){

            let in_date = $(".modal .in_date").val();
            let out_date = $(".modal .out_date").val();

            // 날짜가 모두 입력되지 않으면 계산하지 않음
            if (!in_date || !out_date) {
                $(".totalPrice").text($(".modal .price").text()); // 기본 1박 요금 표시
                return;
            }

            // 날짜 차이 계산
            let checkInDate = new Date(in_date);
            let checkOutDate = new Date(out_date);
            let dayDifference = Math.ceil((checkOutDate - checkInDate) / (1000 * 60 * 60 * 24));

            // 체크아웃 날짜가 체크인 날짜보다 같거나 이전이면 계산하지 않음
            if (dayDifference <= 0) {
                alert("체크아웃 날짜는 체크인 날짜보다 이후여야 합니다.");
                $(".modal .out_date").val(""); // 잘못된 체크아웃 날짜 초기화
                $(".totalPrice").text($(".modal .price").text()); // 기본 가격으로 되돌리기
                return;
            }

            // 총 가격 계산
            let price = parseInt($(".modal .price").text().replace(/[^0-9]/g, ''));
            let totalPrice = price * dayDifference; // 소수점 올림

            $(".modal .day").val(dayDifference);
            $(".modal .totalPrice").text(totalPrice);
        }




    })

</script>

</body>
</html>