<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/stikysidebar.css}" rel="stylesheet">
    <style layout:fragment="css">
        #aside {
            position: sticky;
            background-color: white;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
        }
    </style>
</head>
<body>

<th:block layout:fragment="content">

    <div id="contain" class="card w-75 mt-5 mx-auto">
        <div class="card-title">
            <h2 class="mt-3 text-center fw-bold">장바구니</h2>
            <hr>
        </div>

        <span class="h4 ms-3 fw-bold">호텔 예약</span>

        <div class="card-body">

            <th:block th:each="roomItem : ${roomItemDTOList}">

                <div class="card p-3 mb-3" style="box-shadow: none">
                    <span class="h4 fw-bold" th:text="${roomItem.roomDTO.hotelDTO.hotel_name}">호텔 매장 이름</span>
                    <small class="text-body-secondary" th:text="${roomItem.roomDTO.hotelDTO.address}">매장 주소</small>
                    <hr>
                    <div class="row mb-2">
                        <div class="col-md-8">
                            <p class="card-text fs-5 fw-bold"> [[${roomItem.roomDTO.room_name}]] / [[${roomItem.roomDTO.room_type}]] </p>
                        </div>
                        <div class="col-md-4 text-end">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="col-md-2 align-self-center">
                            <input type="checkbox" class="text-center">
                            <img src="https://picsum.photos/200" class="img-fluid">
                        </div>
                        <div class="col-md-10 align-self-center">
                            <div class="card-body">
                                <span>체크인 : </span><input class="in_date" type="datetime-local" name="in_date" th:value="${roomItem.in_date}" style="border: none" readonly> <br>
                                <span>체크아웃 : </span><input class="out_date" type="datetime-local" name="out_date" th:value="${roomItem.out_date}" style="border: none" readonly> <br>
                                <span>[[${roomItem.in_date}]]~[[${roomItem.out_date}]] | n박</span> <br>
                                <span class="fs-6">기준 n명 / 예약인원 n명</span> <br>
                                <span>룸서비스 신청</span> <br>
                                <span>요청사항</span>
                                <h5 class="text-end fw-bold">숙박/연박 <span class="text-danger">10000</span>원</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </th:block>


        </div>

        <hr>

        <span class="h4 ms-3 fw-bold">룸 서비스 예약</span>

        <div class="card-body">

            <div class="card p-3 mb-3"  style="box-shadow: none">
                <span class="h4 fw-bold">호텔 매장 이름</span>
                <small class="text-body-secondary">매장 주소</small>
                <hr>
                <div class="row mb-2">
                    <div class="col-md-8">
                        <p class="card-text fs-5 fw-bold"> 룸 이름 / 룸 타입</p>
                    </div>
                    <div class="col-md-4 text-end">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-md-2 align-self-center">
                        <input type="checkbox" class="text-center">
                        <img src="https://picsum.photos/200" class="img-fluid">
                    </div>
                    <div class="col-md-10 align-self-center">
                        <div class="card-body">
                            <span>체크인~체크아웃 기간 | n박</span> <br>
                            <span class="fs-6">기준 n명 / 예약인원 n명</span> <br>
                            <span>룸서비스 신청</span> <br>
                            <span>요청사항</span>
                            <h5 class="text-end fw-bold">숙박/연박 <span class="text-danger">10000</span>원</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <aside class="border-top" id="aside">

        <div class="p-3 mb-3">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <span class="card-text fs-5 fw-bold">총 n건</span>
                </div>
                <div class="col-md-6 align-self-center text-end">
                    <span class="card-text fs-5 fw-bold">총 결제 금액</span>
                    <h3 class="fw-bold"><span class="text-danger">10000</span>원</h3>
                </div>
            </div>

            <div class="d-grid gap-2 text-center mt-2">
                <button class="btn btn-primary btn-lg" type="button">구매하기</button>
            </div>
        </div>

        <hr>

    </aside>

</th:block>

</body>
</html>