<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="row mt-5">
        <div class="row">
            <div class="col-12">
                <div class="mb-3 text-center fw-bold">
                    <h1 th:text="${hotel_name} + ' 메뉴 목록'">호텔 이름</h1>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${pageResponseDTO != null and pageResponseDTO.dtoList != null and #lists.isEmpty(pageResponseDTO.dtoList)}" class="alert alert-success text-center">
        <p>등록된 메뉴가 없습니다.</p>
    </div>

    <div class="mr-6 text-end">
        <button type="button" onclick="location.href='/menu/menuRegister'" class="btn btn-dark">메뉴 등록</button>
    </div>

    <nav class="navbar" id="navbar">
        <div class="navbar-right">
            <div class="search-form">
                <form action="/menu/menuList" method="get" onsubmit="saveSearchQuery()">
                    <div class="input-group input-group-sm" id="input-group-search">
                        <select class="form-select-sm" name="searchType">
                            <option value="" th:selected="${searchType == null}">검색 조건</option>
                            <option value="menuSort" th:selected="${searchType == 'menuSort'}">메뉴 분류</option>
                            <option value="menuName" th:selected="${searchType == 'menuName'}">메뉴 이름</option>
                            <option value="menuDetail" th:selected="${searchType == 'menuDetail'}">메뉴 상세</option>
                        </select>
                        <input type="text" name="searchKeyword" class="form-control" placeholder="검색어 입력" th:value="${searchKeyword}">
                        <input type="hidden" name="sortField" th:value="${sortField}">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <div class="input-group-append">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                            <button type="reset" class="btn btn-secondary">초기화</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div th:if="${isSearch}">
        <table class="table" th:if="${results != null && results.size() > 0}">
            <h3 class="text-center mt-3 mb-3">검색 결과</h3>
            <div class="row mt-3">
                <div class="col-12 mb-2">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr class="text-center text-black fw-bold">
                            <td>메뉴 번호</td>
                            <td>
                                <a th:href="@{/menu/menuList(sortField='menu_sort', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, query=${query})}">
                                    메뉴 분류
                                    <span th:if="${sortField == 'menu_sort'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </td>
                            <td>메뉴 이름</td>
                            <td>메뉴 상세</td>
                            <td>
                                <a th:href="@{/menu/menuList(sortField='menu_price', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, query=${query})}">
                                    메뉴 가격
                                    <span th:if="${sortField == 'menu_price'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                                </a>
                            </td>
                            <td>수정</td>
                            <td>삭제</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="menu : ${results}" class="text-center">
                            <td th:text="${menu.menu_num}"></td>
                            <td th:text="${menu.menu_sort}"></td>
                            <td>
                                <a th:href="@{/menu/menuRead(menu_num=${menu.menu_num})}">
                                    [[${menu.menu_name}]]
                                </a>
                            </td>
                            <td th:text="${menu.menu_detail}"></td>
                            <td th:text="${menu.menu_price}"></td>
                            <td>
                                <button type="button" th:attr="onclick='location.href=\'/menu/menuModify?menu_num=' + ${menu.menu_num} + '\''" class="btn btn-warning">수정</button>
                            </td>
                            <td>
                                <form action="/menu/menuDelete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                                    <input type="hidden" name="id" th:value="${menu.menu_num}">
                                    <button type="submit" class="btn btn-danger">삭제</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </table>
        <h2 class="text-center text-primary mt-5" th:if="${results.size() == 0}">검색 결과가 없습니다.</h2>
    </div>

    <div th:if = "${!isSearch}">
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="text-center text-black fw-bold">
                        <td>메뉴 번호</td>
                        <td>
                            <a th:href="@{/menu/menuList(sortField='menu_sort', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, query=${query})}">
                                메뉴 분류
                                <span th:if="${sortField == 'menu_sort'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </td>
                        <td>메뉴 이름</td>
                        <td>메뉴 상세</td>
                        <td>
                            <a th:href="@{/menu/menuList(sortField='menu_price', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, query=${query})}">
                                메뉴 가격
                                <span th:if="${sortField == 'menu_price'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </td>
                        <td>수정</td>
                        <td>삭제</td>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:if="${pageResponseDTO != null}" th:each="menuDTO : ${pageResponseDTO.dtoList}">
                        <tr class="text-center">
                            <td th:text="${menuDTO.menu_num}"></td>
                            <td th:text="${menuDTO.menu_sort}"></td>
                            <td>
                                <a th:href="@{/menu/menuRead(menu_num=${menuDTO.menu_num})}">
                                    [[${menuDTO.menu_name}]]
                                </a>
                            </td>
                            <td th:text="${menuDTO.menu_detail}"></td>
                            <td th:text="${menuDTO.menu_price}"></td>
                            <td>
                                <button type="button" th:attr="onclick='location.href=\'/menu/menuModify?menu_num=' + ${menuDTO.menu_num} + '\''" class="btn btn-warning">수정</button>
                            </td>
                            <td>
                                <form action="/menu/menuDelete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                                    <input type="hidden" name="id" th:value="${menuDTO.menu_num}">
                                    <button type="submit" class="btn btn-danger">삭제</button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <th:block th:if="${pageResponseDTO != null and pageResponseDTO.dtoList != null and !#lists.isEmpty(pageResponseDTO.dtoList)}">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <th:block th:if="${pageResponseDTO.prev}">
                                <li class="page-item"><a class="page-link" th:href="|@{'/menu/menuList?page=' +${pageResponseDTO.start-1}}|">이전</a></li>
                            </th:block>

                            <th:block th:each="num: ${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}">
                                <li class="page-item"><a class="page-link" th:href="|@{'/menu/menuList?page=' +${num}}|">[[${num}]]</a></li>
                            </th:block>

                            <th:block th:if="${pageResponseDTO.next}">
                                <li class="page-item"><a class="page-link" th:href="|@{'/menu/menuList?page=' +${pageResponseDTO.end+1}}|">다음</a></li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
            </div>
        </th:block>
    </div>
</th:block>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const savedQuery = localStorage.getItem('searchQuery');
        if (savedQuery) {
            document.getElementById('search-input').value = savedQuery;
        }
    });
    function saveSearchQuery() {
        const query = document.getElementById('search-input').value;
        localStorage.setItem('searchQuery', query);
    }
</script>
</body>
</html>