<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>SmartStay</title>
</head>
<body>
<th:block layout:fragment="content">

    <form action="/menu/menuRegister" method="post" th:object="${menuDTO}" enctype="multipart/form-data">

        <div class="row">
            <div class="col-6 offset-3">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3 mt-5 text-center">
                            <h1 th:text="${menuDTO.hotelDTO.hotel_name} + ' 메뉴 등록하기'"></h1>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">

                            <label for="menu_sort" class="form-label">메뉴 분류</label>
                            <select th:field="*{menu_sort}" id="menu_sort" class="form-select" aria-label="Default select example">
                                <option value="KOREAN">한식</option>
                                <option value="CHINESE">중식</option>
                                <option value="JAPANESE">일식</option>
                                <option value="WESTERN">양식</option>
                                <option value="SNACK">분식</option>
                                <option value="DRINK">음료</option>
                                <option value="ETC">기타</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="menu_name" class="form-label">메뉴 이름</label>
                            <input type="text" class="form-control" th:field="*{menu_name}" required id="menu_name" >
                            <p th:if="${#fields.hasErrors('menu_name')}" th:errors="*{menu_name}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="menu_detail"  class="form-label">메뉴 상세</label>
                            <input type="text" class="form-control" th:field="*{menu_detail}" id="menu_detail">
                            <p th:if="${#fields.hasErrors('menu_detail')}" th:errors="*{menu_detail}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="menu_price" class="form-label">메뉴 가격</label>
                            <input type="number" min="0" class="form-control" th:field="*{menu_price}" required id="menu_price">
                            <p th:if="${#fields.hasErrors('menu_price')}" th:errors="*{menu_price}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3 imgA">
                            <label for="formFile" class="form-label">이미지</label>
                            <input class="form-control imgInput mainimg" id="formFile" accept="image/*" name="multipartFiles" type="file" required>
                            <div class="row main imgpreview"></div>
                            <button type="button" class="bb btn btn-secondary" id="removeMainImage" style="display:none;">올리지 않기</button>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary" onclick="location.href='/menu/menuList'">목록</button>
                        <button type="submit" class="btn btn-dark">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="script">

    <script th:inline="javascript">

        document.addEventListener("DOMContentLoaded", function() {

            const formFile = document.getElementById('formFile');
            const imgPreview = document.querySelector('.imgpreview');
            const removeMainImage = document.getElementById('removeMainImage');

            formFile.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.alt = file.name;
                        img.style.width = '350px';
                        img.style.height = 'auto';
                        img.style.objectFit = 'cover';

                        imgPreview.innerHTML = '';
                        imgPreview.appendChild(img);

                        removeMainImage.style.display = 'block';
                    };
                    reader.readAsDataURL(file);
                }
            });

            removeMainImage.addEventListener('click', function() {
                formFile.value = '';
                imgPreview.innerHTML = '';
                removeMainImage.style.display = 'none';
            });
        });
    </script>
</th:block>

</body>
</html>