<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>SmartStay</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="d-flex">
        <div class="container my-auto">
            <div class=" row justify-content-center">
                <form th:object="${menuDTO}" action="" method="">
                    <div class="row mt-5">
                        <div class="col-8 offset-2">
                            <div class="row">
                                <div class="mb-3 mt-5 text-center">
                                    <h1 th:text="${menuDTO.hotelDTO.hotel_name} + ' 메뉴 상세 보기'"></h1>
                                </div>

                                <div class="col text-center">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 120px">메뉴 번호</span>
                                                <input type="text" class="form-control" th:value="${menuDTO.menu_num}">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 120px">메뉴 분류</span>
                                                <input type="text" class="form-control" th:value="${menuDTO.menu_sort}">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 120px">메뉴 이름</span>
                                                <input type="text" class="form-control" th:value="${menuDTO.menu_name}">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" style="width: 120px">메뉴 설명</span>
                                                <input type="text" class="form-control" th:value="${menuDTO.menu_detail}">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-text" style="width: 120px">메뉴 가격</span>
                                                <input type="number" class="form-control" th:value="${menuDTO.menu_price}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mt-3 mb-3 imgA">
                                        <div class="row mb-5">
                                            <th:block th:each="img: ${menuDTO.imageDTOList}">
                                                <th:block th:if="${img.repimg_yn == 'Y'}">
                                                    <div class="col-12">
                                                        <img width="600px" height="auto" th:src="${img.thumbnail_url}" alt="이미지">
                                                    </div>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 text-center">
                                    <button type="button" onclick="location.href='/menu/menuList'"class="btn btn-primary">목록</button>
                                    <button type="button" th:onclick="|location.href='@{/menu/menuModify(menu_num=${menuDTO.menu_num})}'|" class="btn btn-dark">수정</button>
                                    <button type="button" class="btn btn-danger" onclick="if(confirm('정말 삭제하시겠습니까?')) {document.getElementById('deleteForm').submit();}">삭제</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form id="deleteForm" action="/menu/menuDelete" method="post" style="display:none;">
        <input type="hidden" name="id" th:value="${menuDTO.menu_num}" />
    </form>

</th:block>

<th:block layout:fragment="script">
</th:block>

</body>
</html>