<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <form action="/menu/menuRegister" method="post" th:object="${menuDTO}">

        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="hotel_num" class="form-label">호텔 정보</label>
                            <p class="form-control" th:value="${hotelDTO?.hotelDTO?.hotel_num}" id="hotel_num"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="menu_sort" class="form-label">메뉴 분류</label>
                            <input type="text" min="0" class="form-control" th:field="*{menu_sort}" id="menu_sort">
                            <p th:if="${#fields.hasErrors('menu_sort')}" th:errors="*{menu_sort}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="menu_name" class="form-label">메뉴 명</label>
                            <input type="text" class="form-control" th:field="*{menu_name}" required id="menu_name" >
                            <p th:if="${#fields.hasErrors('menu_name')}" th:errors="*{menu_name}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="menu_detail"  class="form-label">메뉴 상세</label>
                            <input type="text" min="0" class="form-control" th:field="*{menu_detail}" id="menu_detail">
                            <p th:if="${#fields.hasErrors('menu_detail')}" th:errors="*{menu_detail}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="menu_price" class="form-label">메뉴 가격</label>
                            <input type="number" min="0" class="form-control" th:field="*{menu_price}" id="menu_price">
                            <p th:if="${#fields.hasErrors('menu_price')}" th:errors="*{menu_price}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-dark">등록</button>
                        <button type="button" class="btn btn-dark" onclick="location.href='/menu/menuList'">목록</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="script">
</th:block>

</body>
</html>