<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="container mt-3">

        <div sec:authorize="hasAuthority('CHIEF')">
            <th:block th:if="${brandDTO != null}">
                <div class="mb-4">
                    <div class="card p-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a th:href="@{/brand/brandRead(brand_num=${brandDTO.brand_num})}" th:text="${brandDTO.brand_name}">브랜드 이름</a>
                            </h5>
                            <ul class="list-group list-group-flush">

                            </ul>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:unless="${brandDTO != null}">
                <div>
                    <p>브랜드 정보가 없습니다.</p>
                </div>
            </th:block>
        </div>

        <div sec:authorize="hasAuthority('MANAGER')">
            <th:block th:if="${hotelDTO != null}">
                <div class="mb-4">
                    <div class="card p-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a th:href="@{/hotel/hotelRead(hotel_num=${hotelDTO.hotel_num})}" th:text="${hotelDTO.hotel_name}">호텔 이름</a>
                            </h5>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">
                                    <strong>호텔 주소 : </strong> <span th:text="${hotelDTO.address}">호텔 주소</span>
                                </li>
                                <li class="list-group-item">
                                    <strong>연락처 : </strong> <span th:text="${hotelDTO.tel}">연락처</span>
                                </li>
                                <li class="list-group-item">
                                    <strong>대표자 이름 : </strong> <span th:text="${hotelDTO.owner}">호텔 주소</span>
                                </li>
                                <li class="list-group-item">
                                    <strong>사업자 번호 : </strong> <span th:text="${hotelDTO.business_num}">사업자 번호</span>
                                </li>
                                <li class="list-group-item">
                                    <strong>별점 : </strong> <span th:text="${hotelDTO.score}">별점</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:unless="${hotelDTO != null}">
                <div>
                    <p>호텔 정보가 없습니다.</p>
                </div>
            </th:block>
        </div>

    </div>

</th:block>

<th:block layout:fragment="script">
</th:block>
</body>
</html>