<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
    <!-- Bootstrap Icons CDN 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/991d45ce22.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block layout:fragment="content">

    <div class="container mt-3">

        <div sec:authorize="hasAuthority('CHIEF')">
            <th:block th:if="${brandDTO != null}" class="col-8">
                <div class="row">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center">
                            <img th:src="${brandDTO.mainImage.thumbnail_url}" class="mb-5 img-fluid" alt="총판 이미지" />
                            <h1 class="card-title text-center fs-1">
                                <a th:href="@{/brand/brandRead(brand_num=${brandDTO.brand_num})}" style="text-decoration: none; color: #742ed3;">
                                    <i class="fa-solid fa-hotel" style="color: #742ed3;"></i>
                                    <span th:text="${brandDTO.brand_name}">총판 이름</span>
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:unless="${brandDTO != null}">
                <div>
                    <p class="text-center">소속 정보가 없습니다. 총판을 등록해주세요.</p>
                </div>
            </th:block>
        </div>

        <div sec:authorize="hasAuthority('MANAGER')">
            <th:block th:if="${hotelDTO != null}" class="col-8">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <img th:src="${hotelDTO.mainImage.thumbnail_url}" class="mb-5 img-fluid" alt="호텔 이미지" />
                            <h1 class="card-title text-center fs-1">
                                <a th:href="@{/hotel/hotelRead(hotel_num=${hotelDTO.hotel_num})}" style="text-decoration: none; color: #742ed3;">
                                    <i class="fa-solid fa-hotel" style="color: #742ed3;"></i>
                                    <span th:text="${hotelDTO.hotel_name}">호텔 이름</span>
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:unless="${hotelDTO != null}">
                <div>
                    <p class="text-center">등록된 호텔 정보가 없습니다.</p>
                </div>
            </th:block>
        </div>

    </div>

</th:block>

<th:block layout:fragment="script">
</th:block>
</body>
</html>