<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}"
>
<head>
    <meta charset="UTF-8">
    <title>SmartStay</title>
</head>
<body>

<th:block layout:fragment="content">

    <th:block>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner mt-3">
                            <div class="carousel-item active d-flex justify-content-center">
                                <img src="/assets/img/main1.jpg" class="d-block mx-auto" style="max-width: 100%; height: auto;">
                            </div>
                            <div class="carousel-item">
                                (이미지2)
                            </div>
                            <div class="carousel-item">
                                (이미지3)
                            </div>
                            <div class="carousel-item">
                                (이미지4)
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div th:each="hotel : ${list}" class="col mb-5">
                    <div class="card border-0 shadow-sm h-100">
                        <div class="card-body text-center">
                            (호텔 대표 이미지)
                            <h6 class="card-title fw-bold">
                                <a th:href="@{/searchRead(hotel_num=${hotel.hotel_num})}" th:text="${hotel.hotel_name}" class="text-decoration-none"></a>
                            </h6>
                            <span class="text-dark" th:text="${hotel.lowestPrice + '원~'}"></span>
                            <span class="text-dark" th:text="${hotel.score}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>