<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">

    <p th:if="${message}" th:text="${message}"></p>

        <table class="table" th:if="${results != null && results.size() > 0}">
            <h3 class="text-center mt-5 mb-3">검색 결과</h3>
            <table class="table" th:if="${results != null && results.size() > 0}">
                <div class="container mt-5">
                    <div th:each="hotel : ${results}" class="col-12 mb-2">
                        <div class="card col-8 offset-2 shadow-sm">
                            <div class="card-body d-flex flex-column align-items-center">
                                <h5 class="card-title text-center text-primary font-weight-bold">
                                    <a th:href="@{/searchRead(hotel_num=${hotel.hotel_num})}" th:text="${hotel.hotel_name}" class="text-decoration-none">호텔 이름</a>
                                </h5>
                                <img th:src="${hotel.mainImage.image_url}" style="height: 200px; width: 300px;" class="rounded-top" mt-2/>
                                <div class="mt-1">
                                    <span class="font-weight-bold text-secondary">주소 </span>
                                    <span class="text-dark" th:text="${hotel.address}">주소</span><br>
                                </div>
                                <div class="mt-1">
                                    <span class="font-weight-bold text-secondary">가격 </span>
                                    <span class="text-dark" th:text="${hotel.lowestPrice + '원~'}">최저가</span><br>
                                </div>
                                <div class="mt-1">
                                    <span class="font-weight-bold text-secondary">별점 </span>
                                    <span class="text-dark" th:text="${hotel.score}">별점</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
            <h2 class="text-center text-primary" th:if="${results.size() == 0}">검색 결과가 없습니다.</h2>
        </table>

</th:block>
</body>
</html>