<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">

    <p th:if="${message}" th:text="${message}"></p>

        <table class="table" th:if="${results != null && results.size() > 0}">
            <div class="container mt-5">
                <div th:each="hotel : ${results}" class="mb-4">
                    <div class="card shadow-lg border-0">
                        <div class="card-body">
                            <h5 class="card-title text-primary font-weight-bold">
                                <a th:href="@{/searchRead(hotel_num=${hotel.hotel_num})}" th:text="${hotel.hotel_name}" class="text-decoration-none">호텔 이름</a>
                            </h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    (호텔 대표 이미지)
                                </li>
                                <li class="list-group-item">
                                    <span class="font-weight-bold text-secondary">주소 : </span>
                                    <span class="text-dark" th:text="${hotel.address}">주소</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="font-weight-bold text-secondary">가격 : </span>
                                    <span class="text-dark" th:text="${hotel.lowestPrice + '원~'}">가격</span>
                                </li>
                                <li class="list-group-item  mb-3">
                                    <span class="font-weight-bold text-secondary">별점 : </span>
                                    <span class="text-dark" th:text="${hotel.score}">별점</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </table>

    <p th:if="${results.size() == 0}">검색 결과가 없습니다.</p>

</th:block>
</body>
</html>