<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="container mt-5 text-center">

        <div th:each="hotel : ${hotelDTO}" class="col mb-5">
            <div class="card border-0 shadow-sm h-100">
                <div class="card-body text-center">
                    (호텔 대표 이미지)
                    <h2 class="card-title fw-bold">
                        <h2 th:text="${hotel.hotel_name}">호텔 이름</h2>
                    </h2>
                    <span class="text-dark" th:text="${hotel.address}">주소</span><br>
                    <span class="text-dark" th:text="${hotel.lowestPrice + '원~'}">최저가</span><br>
                    <span class="text-dark" th:text="${hotel.score}">별점</span>
                </div>
            </div>
        </div>

        <div class="mb-5">
            (리뷰)
        </div>

        <div th:each="room : ${roomList}" class="mb-4">
            <div class="card shadow-sm border-0">
                <div class="row g-0">
                    <div class="col-md-4 position-relative">
                        <img th:src="${room.mainImage.image_url}" class="img-fluid rounded-start" alt="룸 대표 이미지"
                             onerror="this.src='/assets/img/room.jpg'" style="height: 100%; object-fit: cover;">
                    </div>
                    <div class="col-md-8 rounded-start d-flex flex-column justify-content-between">
                        <div class="card-body">
                            <h5 class="card-title mt-2">
                                <a th:href="@{/searchRoomRead(room_num=${room.room_num})}" th:text="${room.room_name}" class="text-decoration-none">룸 이름</a>
                            </h5>
                            <h5 class="card-text text-muted mt-2" th:text="${'최대 ' + room.room_bed + '인'}">최대 인원</h5>
                            <h5 class="text-dark fw-bold mt-2" th:text="${room.room_price + '원'}">가격</h5>
                        </div>
                        <div class="d-flex justify-content-center align-items-center px-3 py-2 rounded-bottom mb-5">
                            <button type="button" class="btn btn-primary px-4" th:onclick="|location.href='@{/roomreserve/roomReserveRegister(room_num=${room.room_num})}'|">예약하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>