<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1 class="text-center mb-3 mt-5">문의사항 목록</h1>
    <div sec:authorize="hasAnyAuthority('USER')" class="row mt-3">
        <div class="col text-end">
            <button type="button" onclick="location.href='/qna/qnaRegister'" class="btn btn-dark">등록</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th sec:authorize="hasAnyAuthority('USER')">삭제</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="qna:${qnaDTOList}">
                    <tr class="align-middle">
                        <td th:text="${qna.qna_num}"></td>
                        <td>
                            <a href="#" class="increment-view-btn" th:data-qna_num="${qna.qna_num}">
                                [[${qna.title}]]
                            </a>
                        </td>
                        <td th:text="${qna.writer}"></td>
                        <td th:text="${qna.viewCount}"></td>
                        <td>  <!--post 방식의 삭제버튼-->
                            <form sec:authorize="hasAnyAuthority('USER')" action="/qna/qnaDelete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                                <input type="hidden" name="qna_num" th:value="${qna.qna_num}"> <!-- 삭제할 qna의 ID를 hidden 필드로 전달 -->
                                <button type="submit" class="btn btn-dark" style="background-color: red;">삭제</button>
                            </form>
                        </td>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>


</th:block>
<script th:inline="javascript" layout:fragment="script">
    let messages = [[${msg}]];
    if (messages != null && messages.trim() !== "") {
        alert(messages);
    }

    //조회수 상승 코드
    $(document).ready(function() {
        $('.increment-view-btn').on('click', function(e) {
            e.preventDefault();
            var qna_num = $(this).data('qna_num');
            incrementViewCount(qna_num);
        });
    });

    function incrementViewCount(qna_num) {
        $.ajax({
            url: '/qna/incrementViewCount',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({ qna_num: qna_num }),
            success: function(result) {
                // 조회수 증가 후 상세 페이지로 이동
                console.info(result)
                window.location.href = '/qna/qnaRead?qna_num=' + qna_num;
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // 오류가 발생하면 바로 상세 페이지로 이동

            }
        });
    }

</script>

</body>
</html>