<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
    <style layout:fragment="css">
        #input-group-search .form-select {
            font-size: 18px !important;
            height: 45px;
            padding: 8px 40px 8px 12px;
            background-color: #f8f9fa;
            color: black;
            border: none;
            position: relative;
            appearance: none;
            -webkit-appearance: none;
            background-position: right 12px center;
        }
        .form-control {
            font-size: 18px;
            height: 45px;
            padding: 8px 12px;
            border: none;
            flex: 3;
        }
        .input-group {
            position: relative;
        }
        .form-select option {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row w-75">
        <h1 class="text-center mb-3 mt-5">문의사항</h1>

        <!--검색창-->
        <nav class="navbar" id="navbar">
            <div class="navbar-light">
                <div class="search-form">
                    <form th:action="@{/qna/qnaList}" method="get">
                        <div class="input-group" id="input-group-search">
                            <select class="form-select" name="type">
                                <option value="all" th:selected="${type=='all'}">전체</option>
                                <option value="t" th:selected="${type=='t'}">제목</option>>
                                <option value="c" th:selected="${type=='c'}">내용</option>>
                                <option value="w" th:selected="${type=='w'}">작성자</option>>
                                <option value="h" th:selected="${type=='h'}">호텔</option>>
                            </select>
                            <input type="text" name="keyword" autocomplete="off" class="form-control" placeholder="Search" th:value="${pageRequestDTO.keyword}" style="width: 250px;">
                            <div class="input-group-append">
                                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="navbar-right" sec:authorize="hasAnyAuthority('USER')">
                <button type="button" onclick="location.href='/qna/qnaRegister'" class="btn btn-dark">등록</button>
            </div>

        </nav>



        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="col">
                        <table class="table table-hover text-center table-fixed">
                            <thead>
                            <tr class="text-center">
                                <th>번호</th>
                                <th>제목</th>
                                <th>호텔</th>
                                <th>작성자</th>
                                <th>조회수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:if="${pageResponseDTO != null}">
                                <th:block th:if="${pageResponseDTO.dtoList == null or #lists.isEmpty(pageResponseDTO.dtoList)}">
                                    <tr>
                                        <td colspan="12" class="text-center">
                                            <h5 th:text="${pageRequestDTO.keyword != null and pageRequestDTO.keyword != ''} ? '검색결과가 없습니다.' : '등록된 문의 사항이 없습니다.'"></h5>
                                        </td>
                                    </tr>
                                </th:block>

                                <th:block th:each="qna:${pageResponseDTO.dtoList}">
                                    <tr class="align-middle">
                                        <td th:text="${qna.qna_num}"></td>
                                        <td>
                                            <a href="#" class="increment-view-btn" th:data-qna_num="${qna.qna_num}">
                                                [[${qna.title}]]
                                            </a>
                                        </td>
                                        <td class="hotel" th:text="${qna.hotelDTO != null ? qna.hotelDTO.hotel_name : '정보 없음'}"></td>
                                        <td th:text="${qna.writer}"></td>
                                        <td th:text="${qna.viewCount}"></td>
                                    </tr>
                                </th:block>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                    <div class="row mt-3">
                        <th:block th:if="${pageResponseDTO != null and pageResponseDTO.dtoList != null and !#lists.isEmpty(pageResponseDTO.dtoList)}">
                            <div class="row">
                                <div class="col-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <th:block th:if="${pageResponseDTO.prev}">
                                                <li class="page-item"><a class="page-link" th:href="|@{'/qna/qnaList(page=${pageResponseDTO.start-1})'}|">이전</a></li>
                                            </th:block>

                                            <th:block th:each="num: ${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}">
                                                <li class="page-item"><a class="page-link" th:href="|@{'/qna/qnaList?page=' +${num}}|">[[${num}]]</a></li>
                                            </th:block>

                                            <th:block th:if="${pageResponseDTO.next}">
                                                <li class="page-item"><a class="page-link" th:href="|@{'/qna/qnaList(${pageResponseDTO.end+1}'}|">다음</a></li>
                                            </th:block>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<script th:inline="javascript" layout:fragment="script">
    let messages = [[${msg}]];
    if (messages != null && messages.trim() !== "") {
        alert(messages);
    }
    let loggedInUser = [[${loggedInEmail}]];
    console.log(loggedInUser)
    //조회수 상승 코드
    $(document).ready(function() {
        $('.increment-view-btn').on('click', function(e) {
            e.preventDefault();
            var qna_num = $(this).data('qna_num');
            incrementViewCount(qna_num);
        });


        $(document).on("click", ".delbtn", function(e) {
            var writer = $(this).val();  // 게시글 작성자
            if (writer !== loggedInUser) {
                e.preventDefault();  // 폼 제출을 막고
                alert("작성자만 삭제할 수 있습니다.");
            }
        });
    });

    function incrementViewCount(qna_num) {
        $.ajax({
            url: '/qna/incrementViewCount',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({ qna_num: qna_num }),
            success: function(result) {
                // 조회수 증가 후 상세 페이지로 이동
                console.info(result)
                window.location.href = '/qna/qnaRead?qna_num=' + qna_num;
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // 오류가 발생하면 바로 상세 페이지로 이동

            }
        });
    }

    let pageResponseDTO = [[${pageResponseDTO}]]
    console.log(pageResponseDTO)

    $(".pagingbtn").on("click", function (e) {
        e.preventDefault();

        let num = $(this).text();
        let str = "";
        if (num == '다음') {

            str = `<input type="hidden" name="page" value="${pageResponseDTO.end +1}">`

        } else if (num == '이전') {

            str = `<input type="hidden" name="page" value="${pageResponseDTO.start -1 }">`

        } else {

            str = `<input type="hidden" name="page" value="${num}">`
        }

        let formObj = $(".formObj")
        console.log(formObj)

        formObj.append(str)

        console.log("클릭함")
        formObj.submit()     //전송
    })

    document.addEventListener('DOMContentLoaded', () => {
        const savedQuery = localStorage.getItem('searchQuery');
        if (savedQuery) {
            document.getElementById('search-input').value = savedQuery;
        }
    });
    function saveSearchQuery() {
        const query = document.getElementById('search-input').value;
        localStorage.setItem('searchQuery', query);
    }

</script>

</body>
</html>