<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1 class="text-center mb-3 mt-5">문의사항 수정</h1>
    <!--수정 폼-->
    <form action="/qna/qnaModify" method="post" th:object="${qnaDTO}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="row">

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="qna_num" class="form-label">번호</label>
                            <input type="text" class="form-control" th:field="*{qna_num}" required id="qna_num" readonly >
                            <p th:if="${#fields.hasErrors('qna_num')}" th:errors="*{qna_num}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="writer" class="form-label">작성자</label>
                            <input type="text" class="form-control" th:field="*{writer}" required id="writer" readonly>
                            <p th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" class="form-control" th:field="*{title}" required id="title" >
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea th:field="*{content}" min="0" name="content" class="form-control" id="content" rows="3"></textarea>
                            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <input type="hidden" name="delnumList" id="delnumList">
                        <div class="mb-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" style="float:right; margin-left: 10px;">저장</button>
                                <button type="button" class="btn btn-dark lisBtn" style="float:right; margin-right: 10px;">목록</button>

                                <script>
                                    $(".lisBtn").on("click", function () {
                                        location.href = "/qna/qnaList";
                                    })

                                    // 등록 버튼 클릭 시 확인창 띄우기
                                    $("form").on("submit", function(event) {
                                        if (!confirm("수정하시겠습니까?")) {
                                            event.preventDefault();
                                        }
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="deleteForm" action="/qna/qnaDelete" method="post" style="display:none;">
        <input type="hidden" name="id" th:value="${qnaDTO.qna_num}">
    </form>
</th:block>
</body>
</html>