<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1 class="text-center">문의사항 등록</h1>
    <form action="/qna/qnaRegister" method="post" th:object="${qnaDTO}">

        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" class="form-control" th:field="*{title}" required id="title" >
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea th:field="*{content}" min="0" name="content" class="form-control" id="content" rows="3"></textarea>
                            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-dark" style="float:right">등록</button>
                        <button type="button" class="btn btn-dark Listbtn" style="float:right; margin-right: 10px;">목록</button>
                        <script>
                            $(".Listbtn").on("click", function () {
                                location.href = "/qna/qnaList";
                            })

                            // 등록 버튼 클릭 시 확인창 띄우기
                            $("form").on("submit", function(event) {
                                if (!confirm("등록하시겠습니까?")) {
                                    event.preventDefault();  // 사용자가 '취소'를 클릭하면 폼 제출을 취소합니다.
                                }
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>
</body>
</html>