<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1 class="text-center">상세보기</h1>
    <div class="d=flex vh-100">
        <div class="container my-auto">
            <div class=" row justify-content-center">

                <form action="/qna/qnaRead" method="post" th:object="${qnaDTO}">
                    <div class="row mt-5">
                        <div class="col text-center">
                            <div class="row">
                                <!--사진 들어갈 예정
                                <div class="col">
                                    <img th:src="${itemDTO.itemImgDTOList.get(0).imgUrl}" class="card-img-top" th:alt="${itemDTO.getItemImgDTOList().get(0).oriImgName}">
                                </div> -->
                                <div class="mb-3 row">
                                    <label for="qna_num" class="col-sm-2 col-form-label">NO.</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="qna_num" th:value="*{qna_num}">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="title" class="col-sm-2 col-form-label">제목</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="title" th:value="${qnaDTO.title}">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="content" class="col-sm-2 col-form-label">글내용</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="content" th:value="${qnaDTO.content}">
                                    </div>
                                </div>
                                <!--추후 이미지
                                <div class="row mb-3">
                                    <th:block th:unless="${#lists.isEmpty(qnaImgDTOList)}" th:each="imgdto: ${qnaImgDTOList}">
                                        <div class="col">
                                            <img class="img-fluid" th:src="${'/images/' + imgdto.newImgName}">
                                        </div>
                                    </th:block>

                                    <th:block th:if="${#lists.isEmpty(boardImgDTOList)}">
                                        <div class="col">
                                            이미지가 없습니다.
                                        </div>
                                    </th:block>
                                </div> -->

                                <div class="col-12">
                                        <button type="button" class="btn btn-dark Modbtn" style="float:right">수정</button>
                                        <button type="button" class="btn btn-dark Listbtn" style="float:right">목록</button>
                                        <script>
                                            let qna_num = document.getElementById("qna_num").value;

                                            $(".Listbtn").on("click", function () {
                                                location.href = "/qna/qnaList";
                                            })

                                            $(".Modbtn").on("click", function () {
                                                location.href = "/qna/qnaModify?qna_num="+qna_num;
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>