<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="row mt-3">
        <div class="col text-end">
            <button type="button" onclick="location.href='/care/careRegister'" class="btn btn-dark">룸 케어 등록</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="mb-3 text-center">
                <h2 th:text="${hotel_name}"></h2>
            </div>
        </div>
    </div>

    <nav class="navbar" id="navbar">
        <div class="navbar-right">
            <div class="search-form">
                <form method="get" action="/care/careList">
                    <div class="input-group input-group-sm" id="input-group-search">
                        <input type="text" autocomplete="off" class="form-control" name="query" placeholder="검색어를 입력하세요" id="search-input">
                        <div class="input-group-append">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div th:if="${isSearch}">
        <h5>검색 결과</h5>
        <table class="table" th:if="${results != null && results.size() > 0}">
            <div class="container mt-5">
                <div th:each="care : ${results}" class="mb-4">
                    <div class="card shadow-lg border-0">
                        <div class="card-body">
                            <h5 class="card-title text-primary font-weight-bold">
                                <a th:href="@{/searchRead(care_num=${care.care_)num})}" th:text="${care.care_name}" class="text-decoration-none">룸 케어 명</a>
                            </h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    (룸 케어 대표 이미지)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <p th:if="${results.size() == 0}">검색 결과가 없습니다.</p>
    </div>

    <div th:if="${!isSearch}">
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="text-center">
                        <td>룸 케어 번호</td>
                        <td>룸 케어 명</td>
                        <td>룸 케어 상세</td>
                        <td>룸 케어 가격</td>
                        <td>등록일자</td>
                        <td>수정일자</td>
                        <td>수정</td>
                        <td>삭제</td>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:if="${pageResponseDTO != null}" th:each="careDTO : ${pageResponseDTO.dtoList}">
                        <tr class="text-center">
                            <td th:text="${careDTO.care_num}"></td>
                            <td>
                                <a th:href="@{/care/careRead(care_num=${careDTO.care_num})}">
                                    [[${careDTO.care_name}]]
                                </a>
                            </td>
                            <td th:text="${careDTO.care_detail}"></td>
                            <td th:text="${careDTO.care_price}"></td>
                            <td th:text="${#temporals.format(careDTO.reg_date, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(careDTO.modi_date, 'yyyy-MM-dd')}"></td>
                            <td>
                                <button type="button" th:attr="onclick='location.href=\'/care/careModify?care_num=' + ${careDTO.care_num} + '\''" class="btn btn-warning">수정</button>
                            </td>
                            <td>
                                <form action="/care/careDelete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                                    <input type="hidden" name="id" th:value="${careDTO.care_num}">
                                    <button type="submit" class="btn btn-danger">삭제</button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <th:block th:if="${pageResponseDTO != null and pageResponseDTO.dtoList != null and !#lists.isEmpty(pageResponseDTO.dtoList)}">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <th:block th:if="${pageResponseDTO.prev}">
                                <li class="page-item"><a class="page-link" th:href="|@{'/care/careList?page=' +${pageResponseDTO.start-1}}|">Previous</a></li>
                            </th:block>

                            <th:block th:each="num: ${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}">
                                <li class="page-item"><a class="page-link" th:href="|@{'/care/careList?page=' +${num}}|">[[${num}]]</a></li>
                            </th:block>

                            <th:block th:if="${pageResponseDTO.next}">
                                <li class="page-item"><a class="page-link" th:href="|@{'/care/careList?page=' +${pageResponseDTO.end+1}}|">Next</a></li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
            </div>
        </th:block>
    </div>


</th:block>


</body>
</html>