<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <form action="/care/careModify" method="post" th:object="${careDTO}">

        <div class="row">
            <div class="col-8 offset-2">
                <div class="row">
                    <input type="hidden" th:field="*{care_num}">

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="hotel_num" class="form-label">호텔 정보</label>
                            <p class="form-control" th:value="${hotelDTO?.hotelDTO?.hotel_num}" id="hotel_num"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3">
                            <label for="care_name" class="form-label">룸 케어 명</label>
                            <input type="text" class="form-control" th:field="*{care_name}" required id="care_name" >
                            <p th:if="${#fields.hasErrors('care_name')}" th:errors="*{care_name}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="care_detail"  class="form-label">룸 케어 상세</label>
                            <input type="text" min="0" class="form-control" th:field="*{care_detail}" id="care_detail">
                            <p th:if="${#fields.hasErrors('care_detail')}" th:errors="*{care_detail}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="care_price" class="form-label">룸 케어 가격</label>
                            <input type="number" min="0" class="form-control" th:field="*{care_price}" id="care_price">
                            <p th:if="${#fields.hasErrors('care_price')}" th:errors="*{care_price}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-dark">저장</button>
                        <button type="button" class="btn btn-dark" onclick="location.href='/care/careList'">목록</button>
                        <button type="button" class="btn btn-danger" onclick="if(confirm('정말 삭제하시겠습니까?')) {document.getElementById('deleteForm').submit();}">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="deleteForm" action="/care/careDelete" method="post" style="display:none;">
        <input type="hidden" name="id" th:value="${careDTO.care_num}">
    </form>

</th:block>

<th:block layout:fragment="script">
</th:block>

</body>
</html>