<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <form action="/care/careRegister" method="post" th:object="${careDTO}" enctype="multipart/form-data">

        <div class="row">
            <div class="col-6 offset-3">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3 mt-5 text-center">
                            <h1 th:text="${careDTO.hotelDTO.hotel_name} + ' 룸 케어 등록하기'"></h1>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="care_name" class="form-label">룸 케어 이름</label>
                            <input type="text" class="form-control" th:field="*{care_name}" required id="care_name" >
                            <p th:if="${#fields.hasErrors('care_name')}" th:errors="*{care_name}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="care_detail"  class="form-label">룸 케어 상세</label>
                            <input type="text" class="form-control" th:field="*{care_detail}" id="care_detail">
                            <p th:if="${#fields.hasErrors('care_detail')}" th:errors="*{care_detail}" class="fieldError"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="care_price" class="form-label">룸 케어 가격</label>
                            <input type="number" class="form-control" th:field="*{care_price}" value="2" id="care_price">
                            <p th:if="${#fields.hasErrors('care_price')}" th:errors="*{care_price}" class="fieldError"></p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mb-3 imgA">
                            <label for="formFile" class="form-label">이미지</label>
                            <input class="form-control imgInput mainimg" id="formFile" accept="image/*" name="multipartFiles" type="file" required>
                            <div class="row main imgpreview"></div>
                            <button type="button" class="bb btn btn-secondary" id="removeMainImage" style="display:none;">올리지 않기</button>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary" onclick="location.href='/care/careList'">목록</button>
                        <button type="submit" class="btn btn-dark">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="script">

    <script th:inline="javascript">

        document.addEventListener("DOMContentLoaded", function() {

            const formFile = document.getElementById('formFile');
            const imgPreview = document.querySelector('.imgpreview');
            const removeMainImage = document.getElementById('removeMainImage');

            formFile.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.alt = file.name;
                        img.style.width = '350px';
                        img.style.height = 'auto';
                        img.style.objectFit = 'cover';

                        imgPreview.innerHTML = '';
                        imgPreview.appendChild(img);

                        removeMainImage.style.display = 'block';
                    };
                    reader.readAsDataURL(file);
                }
            });

            removeMainImage.addEventListener('click', function() {
                formFile.value = '';
                imgPreview.innerHTML = '';
                removeMainImage.style.display = 'none';
            });
        });
    </script>
</th:block>

</body>
</html>