<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/img/hotel-solid.png">
    <title>SmartStay</title>
    <style layout:fragment="css">
        #input-group-search .form-select {
            font-size: 18px !important;
            height: 45px;
            padding: 8px 40px 8px 12px;
            background-color: #f8f9fa;
            color: black;
            border: none;
            position: relative;
            appearance: none;
            -webkit-appearance: none;
            background-position: right 12px center;
        }
        .form-control {
            font-size: 18px;
            height: 45px;
            padding: 8px 12px;
            border: none;
            flex: 3;
        }
        .input-group {
            position: relative;
        }
        .form-select option {
            white-space: nowrap;
        }

        .room-state-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
        }

        .custom-select {
            appearance: none;
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 3px 8px;
            font-size: 18px !important;
            color: #495057; /
            cursor: pointer;
            height: 40px;
            width: 120px;
        }

        .custom-select:hover {
            border-color: #adb5bd;
        }

        .custom-select:focus {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
        }

        .save-btn {
            color: white;
            border: none;
            border-radius: 4px;
            padding: 6px 12px;
            font-size: 16px !important;
            cursor: pointer;
            height: 40px;
        }

        .save-btn:hover {
            background-color: #28a745;
        }

    </style>
</head>
<body>

<th:block layout:fragment="content">
    <div class="row mt-5">
        <div class="row">
            <div class="col-12">
                <div class="mb-3 text-center fw-bold">
                    <h1 th:text="${hotel_name} + ' 룸 목록'"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="text-end mr-6">
        <button type="button" onclick="location.href='/room/roomRegister'" class="btn btn-dark">룸 등록</button>
    </div>

    <nav class="navbar" id="navbar">
        <div class="navbar-right">
            <div class="search-form">
                <form action="/room/roomList" method="get" onsubmit="saveSearchQuery()">
                    <div class="input-group" id="input-group-search">
                        <select class="form-select" name="searchType">
                            <option value="keyword" th:selected="${searchType == 'keyword'}">전체</option>
                            <option value="roomName" th:selected="${searchType == 'roomName'}">룸 이름</option>
                            <option value="roomInfo" th:selected="${searchType == 'roomInfo'}">룸 정보</option>
                            <option value="roomType" th:selected="${searchType == 'roomType'}">룸 타입</option>
                        </select>
                        <input type="text" name="searchKeyword" class="form-control" placeholder="검색어를 입력하세요" th:value="${searchKeyword}">
                        <input type="hidden" name="sortField" th:value="${sortField}">
                        <input type="hidden" name="sortDir" th:value="${sortDir}">
                        <div class="input-group-append">
                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div th:if="${isSearch}">
        <h3 class="text-center mt-3 mb-3">검색 결과</h3>
        <div class="row mt-3">
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr class="text-center text-black fw-bold">
                        <td>룸 번호</td>
                        <td>룸 이름</td>
                        <td>룸 정보</td>
                        <td>
                            <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_type', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, searchKeyword=${searchKeyword})}">
                                룸 타입
                                <span th:if="${sortField == 'room_type'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_bed', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, searchKeyword=${searchKeyword})}">
                                최대 인원
                                <span th:if="${sortField == 'room_bed'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_price', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, searchKeyword=${searchKeyword})}">
                                룸 가격
                                <span th:if="${sortField == 'room_price'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_state', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'}, searchType=${searchType}, searchKeyword=${searchKeyword})}">
                                룸 상태
                                <span th:if="${sortField == 'room_state'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                            </a>
                        </td>
                        <td>체크인 시간</td>
                        <td>체크아웃 시간</td>
                        <td>수정</td>
                        <td>삭제</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${pageResponseDTO == null or pageResponseDTO.dtoList == null or #lists.isEmpty(pageResponseDTO.dtoList)}" class="text-center">
                        <td colspan="11">검색 결과가 없습니다.</td>
                    </tr>
                    <tr th:if="${pageResponseDTO != null}" th:each="roomDTO : ${pageResponseDTO.dtoList}" class="text-center">
                        <td th:text="${roomDTO.room_num}"></td>
                        <td>
                            <a th:href="@{/room/roomRead(room_num=${roomDTO.room_num})}">
                                [[${roomDTO.room_name}]]
                            </a>
                        </td>
                        <td th:text="${roomDTO.room_info}"></td>
                        <td th:text="${roomDTO.room_type}"></td>
                        <td th:text="${roomDTO.room_bed}"></td>
                        <td th:text="${roomDTO.room_price}"></td>
                        <td>
                            <div class="room-state-container">
                                <div class="room-state-container">
                                    <form action="/room/updateRoomState" method="post">
                                        <input type="hidden" name="room_num" value="${roomDTO.room_num}">
                                        <select class="custom-select" name="room_state">
                                            <option value="YES" ${roomDTO.room_state == 'YES' ? 'selected' : ''}>이용 가능</option>
                                            <option value="NO" ${roomDTO.room_state == 'NO' ? 'selected' : ''}>이용 불가</option>
                                            <option value="PREPARE" ${roomDTO.room_state == 'PREPARE' ? 'selected' : ''}>준비 중</option>
                                        </select>
                                        <button class="btn btn-success save-btn" type="submit">저장</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td th:text="${#temporals.format(roomDTO.in_time, 'HH'+'시')}"></td>
                        <td th:text="${#temporals.format(roomDTO.out_time, 'HH'+'시')}"></td>
                        <td>
                            <button type="button" th:attr="onclick='location.href=\'/room/roomModify?room_num=' + ${roomDTO.room_num} + '\''" class="btn btn-warning">수정</button>
                        </td>
                        <td>
                            <form action="/room/roomDelete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                                <input type="hidden" name="id" th:value="${roomDTO.room_num}">
                                <button type="submit" class="btn btn-danger">삭제</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3" th:if="${isSearch}">
            <th:block th:if="${pageResponseDTO != null and pageResponseDTO.dtoList != null and !#lists.isEmpty(pageResponseDTO.dtoList)}">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <th:block th:if="${pageResponseDTO.prev}">
                                    <li class="page-item"><a class="page-link" th:href="@{/room/roomList(page=${pageResponseDTO.start-1}, size=${pageResponseDTO.size}, sortField=${sortField}, sortDir=${sortDir}, searchType=${searchType}, searchKeyword=${searchKeyword})}">이전</a></li>
                                </th:block>

                                <th:block th:each="num: ${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/room/roomList(page=${num}, size=${pageResponseDTO.size}, sortField=${sortField}, sortDir=${sortDir}, searchType=${searchType}, searchKeyword=${searchKeyword})}">[[${num}]]</a>
                                    </li>
                                </th:block>

                                <th:block th:if="${pageResponseDTO.next}">
                                    <li class="page-item"><a class="page-link" th:href="@{/room/roomList(page=${pageResponseDTO.end+1}, size=${pageResponseDTO.size}, sortField=${sortField}, sortDir=${sortDir}, searchType=${searchType}, searchKeyword=${searchKeyword})}">다음</a></li>
                                </th:block>
                            </ul>
                        </nav>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

   <div th:if = "${!isSearch}">
       <div class="row mt-3">
           <div class="col">
               <table class="table table-striped table-hover">
                   <thead>
                   <tr class="text-center text-black fw-bold">
                       <td>룸 번호</td>
                       <td>룸 이름</td>
                       <td>룸 정보</td>
                       <td>
                           <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_type', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                               룸 타입
                               <span th:if="${sortField == 'room_type'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                           </a>
                       </td>
                       <td>
                           <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_bed', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                               최대 인원
                               <span th:if="${sortField == 'room_bed'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                           </a>
                       </td>
                       <td>
                           <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_price', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                               룸 가격
                               <span th:if="${sortField == 'room_price'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                           </a>
                       </td>
                       <td>
                           <a th:href="@{/room/roomList(page=1, size=${pageResponseDTO.size}, sortField='room_state', sortDir=${sortDir == 'asc' ? 'desc' : 'asc'})}">
                               룸 상태
                               <span th:if="${sortField == 'room_state'}" th:text="${sortDir == 'asc' ? '▲' : '▼'}"></span>
                           </a>
                       </td>
                       <td>체크인 시간</td>
                       <td>체크아웃 시간</td>
                       <td>수정</td>
                       <td>삭제</td>
                   </tr>
                   </thead>
                   <tbody>
                   <tr th:if="${pageResponseDTO == null or pageResponseDTO.dtoList == null or #lists.isEmpty(pageResponseDTO.dtoList)}" class="text-center">
                       <td colspan="11">등록된 룸이 없습니다.</td>
                   </tr>
                   <tr th:if="${pageResponseDTO != null}" th:each="roomDTO : ${pageResponseDTO.dtoList}" class="text-center">
                       <td th:text="${roomDTO.room_num}"></td>
                       <td>
                           <a th:href="@{/room/roomRead(room_num=${roomDTO.room_num})}">
                               [[${roomDTO.room_name}]]
                           </a>
                       </td>
                       <td th:text="${roomDTO.room_info}"></td>
                       <td th:text="${roomDTO.room_type}"></td>
                       <td th:text="${roomDTO.room_bed}"></td>
                       <td th:text="${roomDTO.room_price}"></td>
                       <td>
                           <div class="room-state-container">
                               <div class="room-state-container">
                                   <form action="/room/updateRoomState" method="post">
                                       <input type="hidden" name="room_num" th:value="${roomDTO.room_num}">
                                       <select class="custom-select" name="room_state">
                                           <option value="YES" th:selected="${roomDTO.room_state.name().equals('YES')}">이용 가능</option>
                                           <option value="NO" th:selected="${roomDTO.room_state.name().equals('NO') }">이용 불가</option>
                                           <option value="PREPARE" th:selected="${roomDTO.room_state.name().equals('PREPARE')}">준비 중</option>
                                       </select>
                                       <button class="btn btn-success save-btn" type="submit">저장</button>
                                   </form>
                               </div>
                           </div>
                       </td>
                       <td th:text="${#temporals.format(roomDTO.in_time, 'HH'+'시')}"></td>
                       <td th:text="${#temporals.format(roomDTO.out_time, 'HH'+'시')}"></td>
                       <td>
                           <button type="button" th:attr="onclick='location.href=\'/room/roomModify?room_num=' + ${roomDTO.room_num} + '\''" class="btn btn-warning">수정</button>
                       </td>
                       <td>
                           <form action="/room/roomDelete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                               <input type="hidden" name="id" th:value="${roomDTO.room_num}">
                               <button type="submit" class="btn btn-danger">삭제</button>
                           </form>
                       </td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
    <div class="row mt-3" th:if="${!isSearch}">
        <th:block th:if="${pageResponseDTO != null and pageResponseDTO.dtoList != null and !#lists.isEmpty(pageResponseDTO.dtoList)}">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <th:block th:if="${pageResponseDTO.prev}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/room/roomList(page=${pageResponseDTO.start-1}, size=${pageResponseDTO.size}, sortField=${sortField}, sortDir=${sortDir})}">이전</a>
                                </li>
                            </th:block>
                            <th:block th:each="num: ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/room/roomList(page=${num}, size=${pageResponseDTO.size}, sortField=${sortField}, sortDir=${sortDir})}">[[${num}]]</a>
                                </li>
                            </th:block>
                            <th:block th:if="${pageResponseDTO.next}">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/room/roomList(page=${pageResponseDTO.end+1}, size=${pageResponseDTO.size}, sortField=${sortField}, sortDir=${sortDir})}">다음</a>
                                </li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
            </div>
        </th:block>
    </div>
</th:block>

<script th:inline="javascript" layout:fragment="script">

    let message = [[${message}]]
    if (message) {
        alert(message)
    }

    document.addEventListener('DOMContentLoaded', () => {
        const savedQuery = localStorage.getItem('searchQuery');
        if (savedQuery) {
            document.getElementById('search-input').value = savedQuery;
        }
    });

    function saveSearchQuery() {
        const query = document.getElementById('search-input').value;
        localStorage.setItem('searchQuery', query);
    }
</script>
</body>
</html>